[2021-02-18 01:44] Scott47 opened #1 "HELP TICKET"
#### Your Name: Scott S

#### Have you searched the other issue tickets? If not, do that first.
- [ x ] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [ ] Added label to specific project/assignment that you need help with
- [ ] Added to `Student-Help-Tracking`

[2021-02-18 03:27] Scott47 opened #4 "TEST"
**Name:**
**Group:** *(If applicable)*

**Group:** *(If applicable)*

#### Name: *(Since we don't know you by your github handle)*
#### Group:** *(if applicaable)*
#### Book / Chapter:** *(if applicable)*

#### Have you searched the other issue tickets? If not, do that first.
- [ ] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creati

[2021-02-18 03:36] #4 closed

[2021-02-18 15:47] Scott47 opened #7 "cannot add item to session storage"
#### Name: *Scott*
#### Group:** *(if applicaable)*
#### Book / Chapter:** *(if applicable)*

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x ] Added label to specific project/assig

[2021-02-18 15:55] Scott47 commented on #7
### New Error

I can set an item to local storage, but getting error `getItem() is not a function`

[2021-02-18 15:56] #7 closed

[2021-02-18 17:08] kjk1325 opened #9 "Need ERD Approval"
#### Name: *Kaitlin*
#### Group:** *Chewbakklava*
#### Book / Chapter:** *(if applicable)*

#### Have you searched the other issue tickets? If not, do that first.
- [ ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [ ] Added label to specific project

[2021-02-18 17:14] #9 closed

[2021-02-18 19:37] nch66862 opened #10 "HELP TICKET"
#### Name: *Nick*
#### Group:** *Wookie Cookies*
#### Book / Chapter:** *Cupcake Road*

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [ x] Added label to specific project/a

[2021-02-18 19:41] samj0516 opened #11 "HELP TICKET"
#### Name: Sam
#### Group:** *bantha-brownie
#### Book / Chapter:** *(if applicable)* book 2 bakery

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [ ] Added label to specif

[2021-02-18 20:05] #11 closed

[2021-02-18 20:20] Ccourter11 opened #14 "[HELP TICKET]"
#### Name: *(Since we don't know you by your github handle)* Calvin
#### Group:** *(if applicaable)* Han Coco
#### Book / Chapter:** *(if applicable)*

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in

[2021-02-18 20:25] jisie commented on #14
@Ccourter11 Try reading through this and let us know if it helps: [Error: then of undefined](https://www.pluralsight.com/guides/javascript-promise-typeerror:-cannot-read-then-of-undefined)

[2021-02-18 20:28] sageklein commented on #14
@samj0516 and @blusanders check out this error and the comments, it might be useful for you as well.

[2021-02-18 20:30] hrlnsnchz opened #16 "[HELP TICKET]"
#### Name: *(Harlin Sanchez)*
#### Group:** *(Palpatine Amandine)*
#### Book / Chapter:** *(Sprinkles of Joy)*

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x ] Added lab

[2021-02-18 20:33] jisie commented on #16
@hrlnsnchz In your console.log, when you use the `+`, you are doing string concatenation. That converts the object to a string. Try taking out the `+`.

[2021-02-18 20:33] ajawashington opened #17 "This is Test of the Updated Template"
#### Name: Aja

#### Group:

#### Book / Chapter:

#### Have you searched the other issue tickets? If not, do that first.
- [ ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added label to specific project/assignment that you need help with
- [ ] Added to `Student-Help-Tracking` project board

#### REQUIRED Describe your issue:

#### REQU

[2021-02-18 20:34] #17 closed

[2021-02-18 20:57] ericberringer opened #19 "Dropdown sorting help"
#### Name: Eric Berringer

#### Group: Jawa Juice

#### Book / Chapter: Sprinkles

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ x] Added label to specific project/assignment that you need help with
- [x ] Added to `Student-Help-Tracking` project board

#### REQUI

[2021-02-18 21:03] #16 closed

[2021-02-18 21:17] #14 closed

[2021-02-18 21:18] Ccourter11 commented on #14
Got it fixed, thank god!
S/O Jisie

[2021-02-18 21:31] Thomas88s opened #20 "Need help getting logged in"
Thomas Witherow

tattooine

#### Book / Chapter:

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added label to specific project/assignment that you need help with
- [ ] Added to `Student-Help-Tracking` project board

#### REQUIRED Describe your issue

Passwords

[2021-02-18 21:48] ericberringer commented on #19
This fixes the dropdown sorting issue.
- Added conditional to our listening event to sort products by category or all categories.
- Removed parseInt from parseInt(event.detail.selectedCategory) and added to catId within our filter method on useProducts().
- Scort showed us a cool unary operator "+" that means parseInt, but he said don't use it EVER!
- Learned you can chain a .filter() directly to

[2021-02-18 21:57] #19 closed

[2021-02-18 22:02] nicoletatum commented on #19
We had the same problem and this worked!! Thanks

[2021-02-19 13:29] Scott47 commented on #10
this was a test. Thanks @nch66862 !

[2021-02-19 13:29] #10 closed

[2021-02-19 14:46] Loganwebb1994 opened #21 "Discussion on session storage and registering a new user"
#### Name:
Logan Webb
#### Group:
Kylo Ren's Rice Crispie Treats
#### Book / Chapter:

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x ] Added label to specific project/assignment that you need help with
- [x ] Added to `c46 Help-Thread` project board

#### REQUIRE

[2021-02-19 15:23] peytonkemp opened #22 "Need a nudge in the right direction"
#### Name: Peyton

#### Group: Han Coco

#### Book / Chapter:  Sprinkles of Joy

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you need help with
- [x] Added to `c46 Help-Thread` project board

#### REQUIRED Describ

[2021-02-19 15:54] Scott47 commented on #21
re: `I know with session storage the information is stores in the browser, in that specific tab. Im wondering if when a new customer registers, does that registration info need to go into the database permanently? Is it just the fact they they are currently logged in the only thing that is stored in session storage?`

@Loganwebb1994 When you register a customer, there should be an object with prop

[2021-02-19 15:55] #21 closed

[2021-02-19 16:10] samj0516 opened #24 "Vim from git merge main issue"
#### Name: Sam

#### Group: Bantha Brownies

#### Book / Chapter:

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added label to specific project/assignment that you need help with
- [ ] Added to `c46 Help-Thread` project board

#### REQUIRED Describe your issue:

[2021-02-19 16:15] jisie commented on #24
@samj0516 Try this:

1. Esc
2. Shift + :
3. Type in `wq`
4. Enter

[2021-02-19 16:37] #24 closed

[2021-02-19 16:38] blusanders commented on #24
It was the SHIFT.      Small things 1  Blu 0

[2021-02-19 16:39] nicoletatum commented on #20
We would also like help with this. can we hop over to the room when they are getting help or should we make our own help thread OR just work on something else and come back to see the updated help thread with solution? Thanks!

[2021-02-19 16:41] kylieanyce opened #25 "cannot get category select to render to DOM"
#### Name:
Kylie and Nick

#### Group:
Wookie's Cookies

#### Book / Chapter:
Sprinkle of Joy

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
- [ x] Added label to specific project/assignment that you need help with
- [x ] Added to `c46 Help-Thread` project board

#### REQUIRED Describe your iss

[2021-02-19 16:43] jashah46 opened #26 "Error: Cannot Read Property 'then ' of Undefined"
#### Name: Jay & Thomas

#### Group: Tatooine Tort

#### Book / Chapter:

#### Have you searched the other issue tickets? If not, do that first.
- [X ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x ] Added label to specific project/assignment that you need help with
- [ ] Added to `c46 Help-Thread` project board

#### REQUIRED Describe you

[2021-02-19 16:46] jisie commented on #25
@kylieanyce @nch66862 Make sure you are accessing the right property on your DOM element: https://developer.mozilla.org/en-US/docs/Web/API/Element/innerHTML.

If it it the right property, make sure you check for spelling and casing.

[2021-02-19 16:47] ajawashington commented on #26
Refer to your Category Provider, and the "getCategories" fetch call.

[2021-02-19 16:59] kylieanyce commented on #25
@jisie we checked this and seems good, but we just figured out that innerHTML was spelled wrong! It was like this:
[code]
and it needs to be like this:
[code]

[2021-02-19 16:59] #25 closed

[2021-02-19 16:59] jisie commented on #20
If you are getting the alert box with the message `Invalid email and/or password. Please try again.`, find where that is written in the code and work backwards to see why that conditional is executing the `else` instead of the `if`.

[2021-02-19 17:16] nicoletatum commented on #20
^ yes. we struggled with this too.

1. what Jisie said. see what file you need to go into
2. See if you have the right selectors in the event listener(#, . )
 (We put a __debugger_ in the event listener and it helped us work backwards)
3.See if you are grabbing just the container or the contents within..

Hope this helps! Guess my middle name and you might just get your first born child back. (rum

[2021-02-19 17:34] jashah46 commented on #26
we added "return" before categories.slice but we still have an error.

[2021-02-19 17:38] Scott47 commented on #26
@jashah46 have you read the article @jisie suggested? Any progress.

[2021-02-19 17:39] AndreaMays opened #28 "Event Listener is not working"
#### Name: Drea

#### Group: Tuskan Raider Truffles

#### Book / Chapter:  n/a

#### Have you searched the other issue tickets? If not, do that first.
- [X ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ X] Added label to specific project/assignment that you need help with
- [X ] Added to `c46 Help-Thread` project board

#### REQUIRED Descr

[2021-02-19 17:41] jashah46 commented on #26
We have and we are no closer to resolving it.

[2021-02-19 17:41] jisie commented on #26
Duplicate of #14

[2021-02-19 17:44] yasmeencole opened #29 "Help with TypeError: Cannot read property 'name' of undefined"
#### Name: Yasmeen

#### Group: CP3PIE-O

#### Book / Chapter:

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x ] Added label to specific project/assignment that you need help with
- [ x] Added to `c46 Help-Thread` project board

#### REQUIRED Describe your issue:

[2021-02-19 17:58] Loganwebb1994 opened #30 "Having trouble Getting cart to go away after the logout/placeOrder"
#### Name:
Logan Webb
#### Group:
Kylo Ren

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you need help with
- [x] Added to `c46 Help-Thread` project board

#### REQUIRED Describe your issue:
Once the customer logs

[2021-02-19 17:58] #26 closed

[2021-02-19 18:27] Scott47 commented on #28
changed  ```
<li id="contactForm"><a href"#">Contact</a></li>
```  in `index.html`

to
[code]

The `clickEvent.target.id` is the inner most element. Since the a tag is what is nested, it needs to own the id for the `clickEvent`.

[2021-02-19 18:29] #28 closed

[2021-02-19 18:34] jisie commented on #29
@yasmeencole This means that instead adding a product object to your array that represents your open cart `productsInCart`, you are adding undefined. Start debugging from when the user clicks `Add to cart`. Questions to consider:

1. Are you dispatching an event?
1. Does the event listener hear the event?
1. Does the name of the event match?
1. If there is a data payload, can you access the data i

[2021-02-19 18:35] jisie commented on #30
@Loganwebb1994 Is the code you have tried on branch? The link to the file in the issue takes use to `CustomerNav.js` on main.

[2021-02-19 20:11] jisie commented on #29
@yasmeencole Any luck with debugging?

[2021-02-19 20:17] daprieu commented on #29
yes we just solved it!! Well Yasmeen did I just helped with debugging.

[2021-02-19 20:20] jisie commented on #29
@yasmeencole @daprieu That's great!! Can you please add a comment describing how you resolved the issue and close this issue?

[2021-02-19 20:22] emilycentko opened #31 "EventListener and star review to leave ratings"
#### Name: Emily & Tracy

#### Group: Deathstar Danishes

#### Book / Chapter: Sprinkles of Joy

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x ] Added label to specific project/assignment that you need help with
- [x] Added to `c46 Help-Thread` project board

###

[2021-02-19 20:28] jisie commented on #31
This error usually means whatever precedes the `. addEventListener` is null. Look into where you declare `eventHub`. Are you targeting the right element on the DOM?

[2021-02-19 20:43] emilycentko commented on #31
@jisie Updated target element to "#container" for eventHub, thank you for catching that!

[2021-02-19 20:49] yasmeencole commented on #29
I solved this issue with the help of @daprieu. One thing we noticed on OpenCart.js line 11, is that the export const OpenCart  was empty and was not getting the products to be added to the cart. Also, the export statement was not rendering productsInCart to the dom. After that we debugged Products.js where we determined that the eventlistener on line 28 was grabbing the value (productId) but we ac

[2021-02-19 20:53] #29 closed

[2021-02-19 20:58] #31 closed

[2021-02-19 21:07] jashah46 commented on #20
You need to make sure that the class selectors are uniform and match where the data is to entered. So if you have a class make sure you are selecting a class in your query selector.

[2021-02-19 21:11] Scott47 commented on #30
@Loganwebb1994 @CheoR @nathanRomad Please add the resolution to this issue before closing.

[2021-02-19 21:21] Thomas88s commented on #20
The eventhub querySelectors for the  login and password needed to have the .value specified at the end.

[2021-02-19 21:26] nathanRomad commented on #30
We are getting items from the menu to add to the cart.
We are getting items in the cart to save into our database when placeOrder is clicked.

We can't figure out how to clear the cart after placeOrder is clicked.

[2021-02-19 21:35] #20 closed

[2021-02-22 15:59] jisie commented on #30
@nathanRomad @CheoR @Loganwebb1994 Is this still an issue you guys are working on?

[2021-02-22 16:31] bpotts11 opened #32 "Returning Reviews to dom"
#### Name: Brittney

#### Group: Canoli Clones

#### Book / Chapter: Sprinkles of Joy

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you need help with
- [x] Added to `c46 Help-Thread` project board

#### REQUIRED D

[2021-02-22 16:34] ajawashington commented on #32
@bpotts11 Can you complete this issue ticket? We need to know the issue you are having and if any error messages are coming up?

[2021-02-22 16:53] nathanRomad opened #33 "Disable placeOrder button when cart is empty"
Name: Kylo Ren Rice Krispie Treats
Group: Starfigher Enterprises
Book / Chapter: Sprinkles of Joy Team Project

Have you searched the other issue tickets?
Yes

Describe your issue: We are having trouble disabling the placeOrder button.  We can clear the cart but cannot toggle the button disable.

List any error messages that appear: none.

REQUIRED What have you googled? (You must have at least 3

[2021-02-22 17:07] Scott47 commented on #33
@nathanRomad Please provide a link to the file in your repo where this issue is.

[2021-02-22 17:15] #22 closed

[2021-02-22 17:19] nathanRomad commented on #33
link added

[2021-02-22 17:21] Scott47 commented on #30
Closing this ticket since it was edited instead of resolving the issue. Please make a new ticket if you have a new issue.

[2021-02-22 17:22] #30 closed

[2021-02-22 17:31] Daniel-L-Ross opened #34 "Trouble with asynchronous call - rendering user name on reviews"
#### Name: Dan Ross

#### Group: Mando ice cream sando

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
- [x] Added label to specific project/assignment that you need help with
- [x] Added to `c46 Help-Thread` project board

#### REQUIRED Describe your issue:

We are rendering the users name in fr

[2021-02-22 17:59] Scott47 commented on #33
@Nathan @Loganwebb1994 @CheoR Please describe the resolution to this issue and close. Thank you!

[2021-02-22 18:01] Loganwebb1994 commented on #33
The resolution was to define the button variable outside of the conditionals. Then we insert a button or a disabled button, depending on the users type of interaction.

[2021-02-22 18:01] #33 closed

[2021-02-22 18:06] nathanRomad commented on #30
We were misunderstanding the new help thread flow and did not realize we could see instructor comments on the branch..
Our group was waiting for this issue to get picked up but didn't realize there were already comments from instructors..
Several times, we came back to the 'help thread' and did not see the comments... you have to click SEE ISSUE FULL DETAILS.

So, we moved on to another issue and

[2021-02-22 19:28] emilycentko opened #35 "POST for Saved Reviews getting 404"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Emily

#### Group: Death Star Danishes

#### Book / Chapter: Sprinkles of Joy

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you need

[2021-02-22 19:40] Scott47 commented on #34
Moving `getCustomers()` to `review()` made `review()` asynchronous. Made more sense to `getCustomers()` in `ProductList()` as before to get all data before `review()` is called and keep `review` synchronous.

[2021-02-22 19:41] #34 closed

[2021-02-22 19:44] powellmad opened #36 "Reverted and Merged a Branch, Need Original Branch Merged Instead"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name:
Madison Powell
#### Group:
Palpatine Amandine
#### Book / Chapter:
Sprinkles of Joy
#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you

[2021-02-22 20:04] powellmad commented on #36
You just have to make sure there are no unsaved changes/tabs in vscode so the merge conflicts will be prompted.

[2021-02-22 20:04] #36 closed

[2021-02-22 20:13] nicoletatum opened #37 "order history/customerId issue"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name:Nicole Tatum

#### Group: Canoli Clones

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [X] Added label to specific project/assignment that you need help with
- [X] Added to `c46 Help-Thr

[2021-02-22 20:13] bpotts11 commented on #32
Had to refactor fetch to include a parameter that passed the productId as a parameter. This filtered my reviews so it only returned reviews that matched that productId, instead of all reviews. Since this is filtering my reviews, I do not have to filter later in the event listener(was previously doing this, which was wrong).
[code]
Passing in the productId that was received from the event listener

[2021-02-22 20:28] ajawashington commented on #32
Great Explanation!

[2021-02-22 20:28] #32 closed

[2021-02-22 20:53] Scott47 commented on #37
@nicoletatum Please complete this ticket and add a solution when y'all finish up with Aja. Thank you!

[2021-02-22 21:04] Ccourter11 opened #38 "looked at the other ticket for help"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Calvin

#### Group: Han Coco

#### Book / Chapter:

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ x] Added label to specific project/assignment that you need help with
- [ x] Added t

[2021-02-22 21:07] nicoletatum commented on #37
### Resolved!

**1. to get customer id to match the currently logged in customer's id:**
changed `${bakeryAPI.baseURL}/customers?id=${id}` to `${bakeryAPI.baseURL}/customers/${id}`

**2. to show orders specific to customer logged in:**
in the `CustomerNav` function two functions needed to be invoked(have parenthesis added)`getUserId` and` isUserLoggedIn`

_If anyone also has this problem (and/or)

[2021-02-22 21:09] Ccourter11 commented on #38
hahaha yessss i got it! lmao had query selector instead of get element by id in the middle of the code, jisie youre toooo sneaky! <3

[2021-02-22 21:09] #38 closed

[2021-02-22 21:10] ajawashington commented on #37
Great job!

[2021-02-22 21:10] #37 closed

[2021-02-22 21:14] emilycentko commented on #35
Resolved issue with removing separate JSON file for reviews, moving it into its own object in current database. Also moved "click" event into ProductReviewForm.js, tested, and confirm click is working and grabbing the data submitted from the form once Save Review button is clicked.

[2021-02-22 21:14] #35 closed

[2021-02-22 21:44] TrentSisson opened #39 "help with some of our objects being undefined"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Trent Sisson

#### Group: Jabba-Butter-Bars

#### Book / Chapter: group project

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you ne

[2021-02-22 22:10] TrentSisson commented on #39
we had a productId with a value of zero that was messing up everything when we were using our .find method. We delted the bad data in our DB.json and that resolved our issue.

[2021-02-22 22:11] #39 closed

[2021-02-22 23:35] Scott47 commented on #32
Combing through resolved tickets and just seeing the resolution. Great job @bpotts11  !

[2021-02-23 19:33] peytonkemp opened #40 ""Change your password" alert when trying to register"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Peyton

#### Group: Han Coco

#### Book / Chapter: Sprinkles of Joy

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you need help with

[2021-02-23 19:35] kjk1325 opened #41 "Cannot merge branch with changes after revert"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Kaitlin

#### Group: Chewbakklava

#### Book / Chapter:

#### Have you searched the other issue tickets? If not, do that first.
- [X ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [X ] Added label to specific project/assignment that you need help with
- [X ] Ad

[2021-02-23 19:43] Scott47 commented on #40
That's just google saying your password is not safe. Just choose to continue when you get the alert. Nothing to worry about @peytonkemp

[2021-02-23 19:49] emilycentko opened #42 "Undefined rendering in DOM"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Emily

#### Group: Death Star Danishes

#### Book / Chapter: Sprinkles of Joy

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you need

[2021-02-23 19:59] #40 closed

[2021-02-23 20:05] #41 closed

[2021-02-23 20:06] Scott47 commented on #42
@emilycentko You are filtering through productReviews in ProductLlist.js. This a returns an array that you are passing to `Product()`. If you want to render info from that array, you need to use `.map()` to loop through the array and render `${productReviews.review}`. Also, you are not using the variable on line 3 of `Product.js`. You can delete that.

[2021-02-24 17:21] blusanders opened #43 "Permission/Git Issues with first React app"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Blu Sanders

#### Group:

#### Book / Chapter:

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you need help with
- [x] Added to `c46

[2021-02-24 19:35] blusanders commented on #43
git checkout -b bs-kennelsfirst

required sudo to checkout a new branch

Error w out sudo:
fatal: cannot lock ref 'refs/heads/bs-kennelsfirst': Unable to create '/Users/blufordsanders/workspace/kennels/.git/refs/heads/bs-kennelsfirst.lock': Permission denied

[2021-02-24 19:38] blusanders commented on #43
sudo -s

allows me to sudo without the issuing the sudo command

[2021-02-24 19:41] blusanders commented on #43
Tried a push after commit:

➜  kennels git:(bs-kennelsfirst) gpo bs-kennelsfirst
The authenticity of host 'github.com (140.82.113.4)' can't be established.
RSA key fingerprint is SHA256:nThbg6kXUpJWGl7E1IGOCspRomTxdCARLviKw6E5SY8.
Are you sure you want to continue connecting (yes/no/[fingerprint])?

[2021-02-24 19:41] Scott47 commented on #43
I think this has to do with npm permissions since this didn't occur prior to us using npm packages and the paths where access is denied in your terminal
![image](https://user-images.githubusercontent.com/48926189/109056214-c8793480-76a5-11eb-9bb2-981b6e791378.png)

Pasting the resource I shared on slack [here](https://flaviocopes.com/npm-fix-missing-write-access-error/)

[2021-02-24 19:43] blusanders commented on #43
I deleted and reinstalled the app after all that and it seemed to install correctly but now I'm just not sure.

[2021-02-24 19:48] blusanders commented on #43
Just updating as I get errors:

I can't save files in VS Code without using Sudo

[2021-02-24 19:52] Ccourter11 opened #44 "Keep getting module not found error"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Calvin

#### Group:

#### Book / Chapter:  Book 4/Ch 1, practice @ the bottom of the page

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment

[2021-02-24 19:55] jisie commented on #44
So this code is from the chapter and we are not doing everything in the chapter yet. Follow the instructions we slacked out in the cohort channel.

[2021-02-24 19:56] jisie commented on #44
But this is because you are trying to use a component without importing it. In the component where you are using `CustomerCard`, have you imported it?

[2021-02-24 20:03] jakefroeb commented on #43
https://linuxize.com/post/linux-chown-command/
how to change ownership of a file

[2021-02-24 20:04] jakefroeb commented on #43
https://www.chriswrites.com/how-to-change-file-permissions-using-the-terminal/
changing permissions for files

[2021-02-24 20:05] Ccourter11 commented on #44
ah on my index.js I had import { CustomerCard } from "./components/customer"

 now I have import { CustomerCard } from "./components/customer/CustomerCard" and it works ^_^ !

[2021-02-24 20:05] #44 closed

[2021-02-24 21:45] Scott47 opened #45 "Erica Thompson"
Room 9
how do we pass the firstName

[2021-02-24 21:46] Scott47 commented on #45
@Younique98 Please complete an issue ticket and give us some context. We do not understand what you are referencing.

[2021-02-24 21:56] Scott47 commented on #43
@blusanders Will you please add your solution to this issue and close it.

[2021-02-24 22:01] blusanders commented on #43
Solution!

Per Nathan's similar issue, issued this command to change the permissions in the Workspace dir:
**sudo chown -R 501:20 "/Users/blufordsanders/workspace/"**

ls -l
shows permissions changed from root to my username

created a testreact app w npx create with no errors

created a new Git repo and cloned down with no errors

am able to edit and save files with no errors

[2021-02-24 22:01] #43 closed

[2021-02-25 21:03] Younique98 commented on #45
The issue was that we misread a sentence but figured it out. So we slowed down and read the directions slower and line for line.

[2021-02-25 21:53] nathanRomad opened #46 "zsh: command not found: react-router-dom"
#### Name:  Nathan Hamilton
#### Group:  c46
#### Book / Chapter:   book4 ch4 Routing

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
- [X] Added label to specific project/assignment that you need help with
- [X] Added to `c46 Help-Thread` project board

#### REQUIRED Describe your issue:
I am tr

[2021-02-25 22:03] Scott47 commented on #46
@nathanRomad Please add the links you searched to this issue to complete the ticket. You can include [this as one of your links](https://www.npmjs.com/package/react-router-dom).

What I am understanding is that you are trying to run react-router-dom from your terminal. The chapter wants you to install react-router-dom with  `npm install --save react-router-dom` . What output are you getting when y

[2021-02-25 22:05] jisie commented on #46
Along with what's suggested above, I would recommend including exactly the part in the chapter you are going through that is causing the error. You can either copy/paste it or add a link to it. That way we have context into what caused the error.

[2021-02-25 22:08] #46 closed

[2021-02-25 22:08] nathanRomad commented on #46
I just ran the wrong command.  Here is the correct command from the chapter.  my mistake.

npm i --save react-router-dom
touch src/components/ApplicationViews.js
mkdir src/components/nav
touch src/components/nav/NavBar.js
touch src/components/nav/NavBar.css

[2021-02-26 15:48] Loganwebb1994 opened #47 "Having issues with npm commands in my terminal. Install didnt work so I cant run test."
**_Ticket MUST be completed before getting help from an instructor_**

#### Name:
Logan Webb

#### Book / Chapter:
Hairy Potter
#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x ] Added label to specific project/assignment that you need help with
- [x ] Added to `c46

[2021-02-26 15:51] Scott47 commented on #47
@Loganwebb1994 looks like a permission issue. You'll have to type sudo to run `npm install` You can also check out Nathan and Blu's issue here: https://github.com/nss-day-cohort-46/How-to-Ask-for-Help/issues/43

[2021-02-26 16:10] nathanRomad opened #48 "Making Pottery at the Wheel"
#### Name:  Nathan
#### Group:  c46
#### Book / Chapter: hairy-potter

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
- [X] Added label to specific project/assignment that you need help with
- [X] Added to `c46 Help-Thread` project board

#### REQUIRED Describe your issu

[2021-02-26 16:12] kylieanyce opened #49 "I can't get my server running, missing npm start package?"
#### Name:
Kylie

#### Book / Chapter:
Hairy Potter

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
- [x] Added label to specific project/assignment that you need help with
- [x] Added to `c46 Help-Thread` project board

#### REQUIRED Describe your issue:

#### REQUIRED List any error messages th

[2021-02-26 16:15] Loganwebb1994 commented on #47
npm install -g npm
npm WARN checkPermissions Missing write access to /usr/lib/node_modules/npm/node_modules/abbrev
npm WARN checkPermissions Missing write access to /usr/lib/node_modules/npm/node_modules/ansi-regex
npm WARN checkPermissions Missing write access to /usr/lib/node_modules/npm/node_modules/ansi-align
npm WARN checkPermissions Missing write access to /usr/lib/node_modules/npm/node_modu

[2021-02-26 16:16] Loganwebb1994 commented on #47
Thats what I got when I tried to update. It was behind by 7 updates.

[2021-02-26 16:17] jakefroeb opened #50 "Do i need to remove App.js and App.css"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Jake

#### Book / Chapter: 4 / 1

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ x] Added label to specific project/assignment that you need help with
- [x ] Added to `c46 Help-Thread` project board

#### REQU

[2021-02-26 16:17] jisie commented on #48
I do see a typon where you initialize id on line 6:
[code]

Other than that, it looks ok. Once you've called the function from `main.js` and console logged to make sure it's worked, I think you can push up to Github and move to the next section in the README.

[2021-02-26 16:18] jakefroeb commented on #50
seems the answer is yes i just really want some verbal verification from an instructor

[2021-02-26 16:20] jisie commented on #49
This is a JS application so you will use `serve` to run your server. To run your tests, you will use `npm run test`. Let us know if you are still having trouble running the server.

[2021-02-26 16:20] AndreaMays opened #51 "Terminal Issues"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Andrea

#### Group: n/a

#### Book / Chapter: test

#### Have you searched the other issue tickets? If not, do that first.
- [ X] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [X ] Added label to specific project/assignment that you need help with
- [ X] Added t

[2021-02-26 16:21] nathanRomad commented on #48
I am not able to see my console.logs
I know I am missing something simple... my brain is mush and I don't know why I can't see any console.logs.

[2021-02-26 16:21] nathanRomad commented on #48
[code]

[2021-02-26 16:22] kylieanyce commented on #49
That's what I thought, then I saw the react folders in the DOM. So we aren't doing anything with the DOM and are just using the console?

[2021-02-26 16:24] dylanmorris51 opened #52 "toSellOrNotToSell can't set new properties or push objects into array"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Dylan Morris

#### Group: Solo

#### Book / Chapter: Self Assessment

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
 bug help wanted rubber duck

- [ -] Added label to specific project/as

[2021-02-26 16:28] jisie commented on #49
No, if you follow the instructions, by the end of all the steps, you will see output on the DOM

[2021-02-26 16:31] jisie commented on #48
Make sure you are running your server, and make sure the server is running from the right place. There's a note in the instructions on where to run your server from.

Also, where are you placing your console logs? I don't see any in the code you have pushed up.

[2021-02-26 16:33] jisie commented on #50
You don't have to. But that's the placeholder component that `create-react-app` provides. So if you still want to call your outer level component `App`, you can keep it. You can also rename the files.

[2021-02-26 16:33] nathanRomad commented on #48
in main.js
[code]

[2021-02-26 16:34] jisie commented on #51
@AndreaMays Can you still run commands in your terminal?

[2021-02-26 16:35] nathanRomad commented on #48
PASS  test/pottery.create.test.js
  Creating pottery
    ✓ Pottery object is created with correct properties (5ms)
The first test is passing but I can't see my console.logs..

[2021-02-26 16:36] dylanmorris51 commented on #52
SOLVED:

I needed a triple === instead of single = in the conditional

[code]

[2021-02-26 16:36] #52 closed

[2021-02-26 16:36] Loganwebb1994 commented on #47
RESOLUTION: It was a permissions issue. I ran the command sudo chown -R 501:20 "/home/loganwebb/workspace/" and it resolved the issue

[2021-02-26 16:36] kylieanyce commented on #49
@jisie got it! So, why is my console.log not working? Am I suppose to be doing it in vanilla javascript or using react? Vanilla JS doesn't seem to work, I think I'm doing it correctly for React but not sure, also doesn't seem to work. Let me know if I should create a new issue for this..

[2021-02-26 16:37] jashah46 opened #53 "NPM Start Issues"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Jay

#### Group:

#### Book / Chapter:
Harry Potter
#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x ] Added label to specific project/assignment that you need help with
- [ ] Added to

[2021-02-26 16:38] AndreaMays commented on #51
@jisie yes. Before I had to restart my computer, i had the test running. But the test stopped running and came back with a message that something was "leaking".

I didn't know if this was a problem.

Also, now I'm completely stuck on this potterywheel test. Do I have to put in another help ticket for that

[2021-02-26 16:38] #53 closed

[2021-02-26 16:39] jashah46 commented on #53
Just saw Jisie's message that his is javascript only.

[2021-02-26 16:43] Loganwebb1994 commented on #47
Went to add a file to my scripts dir and got this error: Unable to write file 'vscode-remote://wsl+ubuntu-18.04/home/loganwebb/workspace/hairy-potter-Loganwebb1994/src/scripts/PotteryWheel.js' (NoPermissions (FileSystemError): Error: EACCES: permission denied, open '/home/loganwebb/workspace/hairy-potter-Loganwebb1994/src/scripts/PotteryWheel.js')

[2021-02-26 16:44] nathanRomad commented on #48
Thank you Jisie,
I read the note but missed that index.html was located in SRC and I was running my server from the root directory of my application and missing index.html entirely.

*** I missed this note in the chapter***
Note: All of the code for this project will be created the src directory of the project. Open a new terminal session, and cd to the project directory. Then you can cd src to ch

[2021-02-26 16:45] #48 closed

[2021-02-26 16:45] #50 closed

[2021-02-26 16:45] kylieanyce commented on #49
Okay so the problem was that I was running my server from the hairy potter root directory instead of the src directory. @ajawashington Thanks for the help!

[2021-02-26 16:45] #49 closed

[2021-02-26 16:47] Scott47 commented on #47
@Loganwebb1994 quit vscode completely and reopen it.

[2021-02-26 16:48] Younique98 opened #55 "I am having issues running json from my terminal"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Erica Thompson

#### Group:

#### Book / Chapter:
Hairy Potter

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added label to specific project/assignment that you need help with
- [

[2021-02-26 16:48] Loganwebb1994 commented on #47
@Scott47 Still not working, and It wont let me make a new branch either.

[2021-02-26 16:48] Loganwebb1994 commented on #47
You're currently using WSL 1. We strongly recommend upgrading to WSL 2 for improved performance.

Not sure what wsl is, Do I need to update it?

[2021-02-26 16:56] Younique98 commented on #55
DIdn't need to serve package.json

[2021-02-26 16:56] #55 closed

[2021-02-26 17:05] Loganwebb1994 commented on #47
workspace wasnt associated with my user so Jisie had me run "sudo chown -R $USER:$GROUP "/home/loganwebb/workspace/""
Which resolved my permissions issues.

[2021-02-26 17:14] Scott47 commented on #51
Tried ```
cd ~
mv .zsh_history .zsh_history_bad
strings .zsh_history_bad > .zsh_history
fc -R .zsh_history
[code]

[2021-02-26 17:19] dylanmorris51 opened #56 "Cannot read property 'innerHTML' of null"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Dylan Morris

#### Group: Solo

#### Book / Chapter: Hairy Potter

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x ] Added label to specific project/assignment that you need help with

[2021-02-26 17:22] Scott47 commented on #56
where have you defined `contentTarget` ? Are you selecting an element on the DOM with `document.querySelector()` ?

[2021-02-26 17:33] Loganwebb1994 commented on #47
Im not sure if we got all the permissions issues resolved. I passed my first test and went to push to GH. First it made me enter my GH username and pass. Then when It actually pushed, I went to merge and it said all checks failed or something similar. I am attaching a snippet of the issue
![issueTicket](https://user-images.githubusercontent.com/74067800/109334479-66940880-7826-11eb-99a2-3d3cd7169a

[2021-02-26 17:37] blusanders commented on #56
Do we comment on these issues if we are having similar issues?

[2021-02-26 17:38] Scott47 commented on #56
Sure @blusanders . Anyone on the team can respond.

[2021-02-26 17:39] Scott47 commented on #56
@dylanmorris51 where are you with this?

[2021-02-26 17:40] blusanders commented on #56
Copy.   I too am having this issue. No console errors with innerHTML but the test is showing innerHTML errors. DOM rendering properly. Something is off, but can't quite find it yet. Just FYI.

[2021-02-26 17:48] hrlnsnchz commented on #56
I came here to comment exactly what Blu did. Everything looks fine, but the test is not passing.

[2021-02-26 17:53] Scott47 commented on #56
@hrlnsnchz You have to conform to the test. You can get the correct output, but if your function says to return a specific html string, then your string has to match exactly.

[2021-02-26 17:57] hrlnsnchz commented on #56
@Scott47 does that mean I have to change my data to fit what the test has? For example: the shape, weight and height of the pots.

[2021-02-26 17:58] Younique98 opened #57 "Creating 5 new pieces of pottery"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Erica T

#### Group:

#### Book / Chapter: Hairy Potter
#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ x] Added label to specific project/assignment that you need help with
- [ x] Add

[2021-02-26 17:59] jashah46 opened #58 "Tests Keeps Failing"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name:Jay

#### Group:

#### Book / Chapter:

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x ] Added label to specific project/assignment that you need help with
- [ ] Added to `c46 Help-Th

[2021-02-26 18:02] Scott47 commented on #56
Yep. Your function and the output has to conform to the test.

[2021-02-26 18:03] Loganwebb1994 commented on #47
Gonna grab lunch and walk away from this for a minute. I'll be back at 1.

[2021-02-26 18:05] jisie commented on #47
@Loganwebb1994 It's going to say "All checks failed" until all the tests pass. So for now you can ignore that.

[2021-02-26 18:11] Loganwebb1994 commented on #47
Ahhhhhhhhhhh. wow. thanks!!!! @jisie

[2021-02-26 18:13] Loganwebb1994 commented on #47
@jisie Sorry, one more thing. It's still making me enter my GH username and password when I want to pull or push. How do I make that stop?

[2021-02-26 18:14] dylanmorris51 commented on #56
SOLVED:

The instructions specify ```**In the main.js module**, invoke the PotteryList component function. Take its return value and _update the inner HTML_ of the article element you created above```

To meet this criteria of the test I had to refactor my code so that PotteryList()  ONLY returns a single string of HTML.

Then, on main.js I capture that return value, store it in a variable, and se

[2021-02-26 18:14] #56 closed

[2021-02-26 18:18] jisie commented on #58
In the instructions, it says the object that is returned need to have very specific keys.

[code]

When you console log, does your object have those properties?

[2021-02-26 18:21] jisie commented on #57
@Younique98 Could you please describe what the issue is? I'm not sure what to look for without knowing the problem.

Also, it looks like there is lots of code in `main.js` that the instructions do not ask for. Please make sure you are reading the instructions and doing exactly what it asks you to do.

[2021-02-26 18:29] ajawashington commented on #56
@blusanders @hrlnsnchz check out Dylan's solution!

[2021-02-26 18:30] blusanders commented on #56
Interesting. Esp bc it's doing things in main.js that we don't normally do.

I'm all set too now. Thanks all.

[2021-02-26 18:32] ajawashington commented on #56
Yes and that is because the test is looking for that on page load, so you have to refactor it differently. The code works but the test won't past.

[2021-02-26 18:48] jashah46 commented on #58
I've changed my code to make it read exactly the way you've written, however, I not getting the test to pass at all.  I know it's lunch and you all have instructors meeting.  I'll move on the chapters right now.  Thank you!

[2021-02-26 18:55] jisie commented on #58
The `makePottery ` function. Does the number of parameters in the function definition match the number of arguments in the function call?

[2021-02-26 19:07] jashah46 commented on #58
Yes, the numbers match.

[2021-02-26 19:11] jashah46 commented on #58
It's 1:11, I'm stepping away for 10. Be back by 1:21.

[2021-02-26 19:16] calebsjames opened #59 "Everything shows up correctly on DOM but still doesn't pass final test."
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Caleb

#### Group:

#### Book / Chapter: Hairy Potter

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you need help with
- [x] Added t

[2021-02-26 19:17] ajawashington commented on #59
@calebsjames please refer to this issue ticket #58

[2021-02-26 19:18] Scott47 commented on #59
@calebsjames May I see where you are calling `PotterList()`?

[2021-02-26 19:18] Scott47 commented on #59
Oh. @calebsjames . What @ajawashington said.

[2021-02-26 19:29] jashah46 commented on #58
Sorry guys, I looked at #59, and also the one referred to within that.  I'm lost.

[2021-02-26 19:38] Loganwebb1994 opened #60 "Failing to add pottery objects to they array of pottery for sale"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name:
Logan
#### Group:
N/A
#### Book / Chapter:
pottery catalog
#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ x] Added label to specific project/assignment that you need help with
- [x ]

[2021-02-26 19:45] Scott47 commented on #60
The instructions say that the parameter for that function should be an object, not an array. Make sure you are reading the directions very carefully. Then, think about the method you would use to add something to an array.

[2021-02-26 19:55] Loganwebb1994 commented on #60
Oh shoot. yup. Thanks @Scott47

[2021-02-26 20:06] Loganwebb1994 commented on #60
@Scott47 Here is a link after refactor. I am technically passing the requirements but the tests dont like it. Im not getting any errors and everything looks right on my end.

https://github.com/nss-day-cohort-46/hairy-potter-Loganwebb1994/blob/LW-pricing/src/scripts/PotteryCatalog.js

[2021-02-26 20:08] AndreaMays opened #61 "Test 2"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Andrea

#### Group:

#### Book / Chapter:  test 2

#### Have you searched the other issue tickets? If not, do that first.
- [X ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you need help with
- [x] Added to `

[2021-02-26 20:10] #59 closed

[2021-02-26 20:14] calebsjames commented on #59
I literally spent hours trying to figure out why it wasn't mapping correctly when that wasn't even remotely the issue nor was it the issue mentioned on ticket 56. Half my day wasted trying to fix things that were not the problem.

[2021-02-26 20:19] ajawashington commented on #61
Hey, could you add a code snippet of link to you code please?

[2021-02-26 20:20] Loganwebb1994 commented on #60
I needed to be returning the object instead of the array I was pushing it to. RESOLVED

[2021-02-26 20:20] #60 closed

[2021-02-26 20:29] jashah46 commented on #58
Had an extra parameter ('id') being passed through.

[2021-02-26 20:29] #58 closed

[2021-02-26 20:30] kjk1325 opened #62 "Array stays empty after get function is called"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Kaitlin

#### Group:

#### Book / Chapter: KandyKorner/ ch. 7

#### Have you searched the other issue tickets? If not, do that first.
- [X ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [X ] Added label to specific project/assignment that you need help with
- [

[2021-02-26 20:34] calebsjames commented on #59
If anyone sees this, you are not allowed to pass an argument through PotteryList. I had to give it allPottery inside the PotteryList function. and that's what fixed mine. @ajawashington @Scott47

[2021-02-26 20:37] #51 closed

[2021-02-26 20:42] kjk1325 commented on #62
For some reason everything worked on refresh without any changes. I refreshed again and it's broken again

[2021-02-26 20:48] emilycentko commented on #42
Solution:

Review array productReviews was coming up as undefined along with review in ProductList.js when filtering bakeryReviews. Refractored Product.js to render each review per product and set a ternary/conditional since some products would not have that data, and mapped over the array to render review(s) when it existed for that related product.

New code snippet:

[code]

[2021-02-26 20:48] #42 closed

[2021-02-26 20:57] nch66862 opened #63 "undefined shows up in customers array after getCustomers is called"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Nick Carver

#### Group: No group

#### Book / Chapter: book 4 useEffect

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you need help

[2021-02-26 20:59] Loganwebb1994 opened #64 "Not able to pass the last test"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name:
Logan Webb#### Group:

#### Book / Chapter:

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added label to specific project/assignment that you need help with
- [ ] Added to `c46 He

[2021-02-26 21:10] AndreaMays commented on #61
Had to make sure I was doing the dot notation inside of the if/else statement and not before the statement.

potteryObj.fired = true
debugger
    if (tempOfKiln > 2200) {

        potteryObj.cracked = true
    }else{
         potteryObj.cracked = false
    }
    return potteryObj
}

[2021-02-26 21:10] #61 closed

[2021-02-26 21:14] Loganwebb1994 commented on #64
I just really need someone to come in here and look at my code. Im reaching my breaking point here.

[2021-02-26 21:15] Younique98 commented on #57
I misunderstood the directions when making the pottery pieces as I thought they needed to be an array of objects but it was just asking to create them within the variable.
for example line this
let madePottery = makePottery("square", 110, 5)

and not like this
const pickles: [
{pickles: 1,
picklesColor: purple}
]

[2021-02-26 21:15] #57 closed

[2021-02-26 21:16] jakefroeb commented on #62
[code]

[2021-02-26 21:17] kjk1325 commented on #62
Calling getProductTypes and putting getProducts in the .then has mine working on every refresh now

[code]

[2021-02-26 21:41] jisie commented on #62
@kjk1325 Is this working now or it only works if you refresh the page?

[2021-02-26 21:47] kjk1325 commented on #62
It's working now whether refreshing or using navbar

[2021-02-26 21:53] Thomas88s opened #65 "Having a git issue that is preventing me from creating a pull request and not allowing me to merge with main."
**_Ticket MUST be completed before getting help from an instructor_**

Thomas WItherow

#### Group:

hairy-potter

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ x] Added label to specific project/assignment that you need help with
- [x ] Added to `c46 Help-Thread`

[2021-02-26 22:01] #62 closed

[2021-02-26 22:02] ajawashington commented on #59
@calebsjames yes that's why I sent you to that ticket. Before he closes it he has a code snippet of how he fixed his issue. Which is the exact way you fixed your solution.

[2021-02-26 22:11] jisie commented on #65
@Thomas88s What's the name of the branch you are trying to create a PR for?

[2021-02-26 22:13] jisie commented on #65
I think you have a closed PR for `tw-hairyPotter`. So if you are using the same branch, you might need to reopen the that PR (and you can do that because the PR was closed without being merged into `main`).

[2021-02-26 22:19] Loganwebb1994 commented on #64
I was using a for loop instead of a .map and the tests expect a .map

[2021-02-26 22:19] #64 closed

[2021-02-26 22:30] calebsjames commented on #59
Thanks @ajawashington I saw his code and made sure that PotteryList() only returned a single string of HTML
 and then on main.js, captured that return value, stored it in a variable, and set innerHTML to that variable which was what he said his solution was. That wasn't what fixed my problem though. My specific problem was that I was passing my objects as a parameter into PotteryList.

so my code

[2021-02-26 22:45] #47 closed

[2021-02-26 23:18] nch66862 commented on #63
Aja was able to help me out with my initial issue! I now mostly understand why the array was initially empty. My code has been refactored to look like this:
[code]
However, I am stuck now in an infinite rendering loop and I do not know why. I have searched for answers using the "useState render loop" search in google but have not been able to implement a solution. I am assuming that the "user" var

[2021-02-26 23:19] nch66862 commented on #63
I am able to break out of the infinite loop by implementing a counter but the name does not render to the DOM even though the correct user object appears in the console.

[code]

[2021-02-26 23:21] Scott47 commented on #59
@calebsjames There is nothing that is wrong about how you did it except that the instructions and the test do not call for passing an argument to `PotteryList()`. In test driven development, you must code to the test because that is what is required. The issue was addressed in the ticket we referred you to. Blu and Harlin as well as a few others I interacted with today also had this issue. @hrlnsn

[2021-02-26 23:26] calebsjames commented on #59
@Scott47 I understand. Thanks I'm just a little frustrated.

[2021-02-27 03:02] Scott47 commented on #59
whoops! See that I tagged @hrlnsnchz when I should have tagged @dylanmorris51 🤦 Sorry, guys.

[2021-02-28 17:10] Scott47 commented on #63
Okay. I also have questions about this. I cloned down @nch66862 's repo and ran this branch. I got rid of `PropsAndState` component and all of the logic related to the counter and tried a second `useEffect()` that watched for customers:
[code]
This did not work. The second useEffect fired after the first but the customers array was empty and I am still struggling to understand why.

What I did nex

[2021-03-01 16:03] Scott47 commented on #65
@Thomas88s is this issue resolved?

[2021-03-01 16:22] nathanRomad opened #66 "Capstone Ideas"
#### Name: Nathan H.
#### Group: c46
#### Book / Chapter:  Capstone

#### Have you searched the other issue tickets? If not, do that first.
This is just a review of my capstone idea for approval..

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
- [X] Added label to specific project/assignment that you need help with
- [X] Added to `c46 Help-Thread` project board

#### REQUIRED

[2021-03-01 16:50] nathanRomad commented on #43
![Screen Shot 2021-02-24 at 2 15 21 PM](https://user-images.githubusercontent.com/74743980/109530016-e1099600-7a7b-11eb-9b80-c157ddfa4ccb.png)

[2021-03-01 16:50] dylanmorris51 opened #67 "Understanding Object Destructuring"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Dylan Morris

#### Group: NSS Day C46

#### Book / Chapter:  Book 3 Chapter 6

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you nee

[2021-03-01 16:59] Scott47 commented on #67
@dylanmorris51 That third article is probably the best you can get on destructing react hooks. It does neglect the details of React context API because it is a little different and, like the article says, 'out of scope'.  As I understand from the docs, you destructure in the component that consumes the context to make each context a separate node in the tree and that keeps the re-rendering process

[2021-03-01 17:22] Thomas88s commented on #65
no i just dig in deeper trying to fix it. I think ive been doing something because i have this problem across several repositories.

[2021-03-01 19:18] Scott47 commented on #63
Okay, @nch66862, here is what was happening. Your `useState()` hook at the top of the component has an initial state of an empty object.
[code]
Initial render happens, then state changes, then re-render. The `useEffect()` hook that gets you your customers runs after the initial render. Because the initial state contained in the `user` variable is an empty object, there is no property name. So, we

[2021-03-01 19:23] #67 closed

[2021-03-01 19:27] AndreaMays opened #68 "Capstone Idea Feedback"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Drea

#### Group: n/a--->
#### Book / Chapter:  n/a

#### Have you searched the other issue tickets? If not, do that first.
- [ ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you need help with
- [x] Added to

[2021-03-01 20:21] nch66862 commented on #63
@Scott47 So I went back in the room for Kandy Korner and Jake F said a past NSS grad protects his data when using react hooks to avoid errors. This code works and the console log shows the point at which it failed before (where it console logs "no data"). I also put a console log in the return statement. It looks like it runs the code 3 times.
[code]

The console:
[code]
I suppose this method will

[2021-03-01 20:40] Thomas88s commented on #65
The repository had to be re synced with my local main.  I reinitialized the branch by redoing the git init command and followed it through.

[2021-03-01 20:40] #65 closed

[2021-03-01 23:39] Scott47 commented on #63
Nice @nch66862 ! I added the conditional to the code I provided in the previous comment. The conditional is what is handling the error. In fact, with that conditional, you can set inital state to an empty object without the name property. @jakefroeb 's solution is what worked. However, it has me questioning all of these useEffects() and how this would work at scale. I am also still a little fuzzy

[2021-03-02 00:14] Scott47 commented on #63
Also, with this logic, the second useEffect() is totally unnecessary. This is where my code is now:
[code]

[2021-03-02 00:14] blusanders commented on #66
I like this idea!

[2021-03-02 00:21] blusanders opened #69 "Why handleControlledInputChange?"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name:
Blu Sanders
#### Group:

#### Book / Chapter:
Ch 9 Adding Animals

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you need help with
-

[2021-03-02 00:21] #69 closed

[2021-03-02 15:28] nch66862 commented on #63
@Scott47 I tried to implement the single useEffect as you showed in your last post. However, the useEffect only runs one time and I get the "nobody home" console log and it does not try again. It does work on save! But not on a hard refresh.
The .then() does not seem to contain the latest value for customers when it executes.

[code]
This is wild. It has data on line 18 but not on line 13 AFTER cu

[2021-03-02 16:21] Thomas88s opened #70 "Cannot read property 'map' of undefined when add customer button is clicked"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name:
Thomas Witherow
#### Group:

#### Book / Chapter:

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ]x Added label to specific project/assignment that you need help with
- [ x] Added to

[2021-03-02 16:43] Scott47 commented on #70
copy pasta mistake. Had CustomerContext where should have had AnimalContext

[2021-03-02 19:15] #70 closed

[2021-03-02 19:56] Younique98 opened #71 "Animal form is not rendering to the DOM"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Erica Thompson

#### Group: None

#### Book / Chapter:
Chapter 9

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x ] Added label to specific project/assignment that you need help with

[2021-03-02 21:29] jisie commented on #71
The routes in your `ApplicationViews` need to look like this: https://github.com/nashville-software-school/client-side-mastery/blob/cohort-46/book-4-nashville-kennels/chapters/FORMS_CONTROLLED_COMPONENT.md#create-the-route

[2021-03-02 21:50] Younique98 commented on #71
I had an animal within my dbjson that had a customerId of an non existing customer. therefore when console.log was used to view the customers. the last one was undefined. once this was fixed the customers .name was rendered. I also changed the applicationViews to that of Jisie suggestion above.

[2021-03-02 21:50] #71 closed

[2021-03-03 15:53] Younique98 commented on #67
I had this same issue. I had forgotten to wrap my EmployeeList with the LocationProvider within the ApplicationView. I kept getting a deconstructing error message in the browser.

[2021-03-03 16:00] Thomas88s opened #72 "Some questions about git"
**_Ticket MUST be completed before getting help from an instructor_**

Thomas Witherow

#### Group:
 Kennels 11
#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you need help with
- [x] Added to `c46 Help-Thread` proje

[2021-03-03 16:55] Scott47 commented on #72
@Thomas88s Will you please let us know what the questions are by completing this ticket?

[2021-03-03 17:02] #66 closed

[2021-03-03 17:24] AndreaMays opened #73 "Cannot read property 'map' of undefined"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Drea

#### Group:

#### Book / Chapter: Not sure anymore

#### Have you searched the other issue tickets? If not, do that first.
- [X ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [X] Added label to specific project/assignment that you need help with
- [X] Add

[2021-03-03 17:36] Scott47 opened #74 "HTTP: GET, PUT, POST, PATCH, DELETE"
#### Name: Scott

#### HTTP is a request-response protocol between a client and server. A client sends a request and the server sends a response which will include status information and maybe some requested content. This ticket is for discussing HTTP methods and any resources you find helpful. It was inspired by @samj0516 's post in slack, which I am including here. This medium article has been h

[2021-03-03 17:39] Scott47 commented on #73
@AndreaMays Please send me a link to the file in your github repo.

Also, check to make sure you have the correct Providers wrapped around your routes in `ApplicationViews`. Also, make sure you are bringing in `getCustomers` with context (i.e. `const { customers, getCustomers } = useContext()` ). If you are still getting the same error, reply here and I'll come see you.

[2021-03-03 18:05] Scott47 commented on #63
The initial question on this issue boiled down to no property of name on the initial state object before re-render. The conditional in useEffect resolved this issue.

[2021-03-03 18:05] #63 closed

[2021-03-03 19:06] AndreaMays commented on #73
https://github.com/AndreaMays/kennelsReact/blob/92012b611548a289d570783d3ff553add411a3be/src/components/customer/CustomerList.js#L22

[2021-03-03 19:09] Thomas88s commented on #72
nm

[2021-03-03 19:14] jisie commented on #73
One thing I noticed is [here](https://github.com/AndreaMays/kennelsReact/blob/92012b611548a289d570783d3ff553add411a3be/src/components/customer/CustomerProvider.js#L11). The `.then` is expecting a function expression, not a function invocation. Please comment if that fixes the issue or if you still get the error.

[2021-03-03 19:17] Scott47 commented on #72
@Thomas88s if you are going to close this issue, please make sure you are adding a solution. So, for this ticket, you'll need to add the original question and the solution before closing the issue. If you need assistance with this, please let one of us know.

[2021-03-03 20:39] AndreaMays commented on #73
@jisie i'm a bit confused on everything right now. I took the code from animalList. I'm confused why animalList works but my code in my other lists isn't working.

[2021-03-03 20:41] emilycentko opened #75 "Using .length method when optional chaining"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Emily Centko

#### Group: n/a

#### Book / Chapter: Kennels chap 11

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you need help with

[2021-03-03 20:45] jisie commented on #73
@AndreaMays Can you try changing the line that I referenced and let me know what happens?

[2021-03-03 20:49] jisie commented on #75
`Length` is an array method. Are you sure `location.employees` and `location.animals` is an array? Try console logging those values to check the data structure.

[2021-03-03 20:54] SubtleCo opened #76 "React Context routing & state variables"
#### Name: Alex Martin

#### Book / Chapter: Book 4, Kandy Korner, ch. 10

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you need help with
- [x] Added to `c46 Help-Thread` project board

#### REQUIRED Describe your

[2021-03-03 21:01] AndreaMays commented on #73
@jisie yes i will try.

[2021-03-03 21:19] emilycentko commented on #75
Looks like the fetch call I would need from getLocationById is only for one location, not an array of locations. Refactored LocationCard to call that function and get the employees/animals.length for that selected location in my return:

[code]

[2021-03-03 21:19] #75 closed

[2021-03-03 21:22] Scott47 commented on #75
Nice work @emilycentko !

[2021-03-03 21:23] Scott47 commented on #73
@AndreaMays did it work?

[2021-03-03 21:24] emilycentko commented on #75
Major props to @jakefroeb for helping!!

[2021-03-03 21:25] dylanmorris51 opened #77 "Editing JSON database error: Unexpected token T"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Dylan Morris

#### Group:

#### Book / Chapter: 4:13

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added label to specific project/assignment that you need help with
- [ ] Added t

[2021-03-03 21:27] dylanmorris51 commented on #77
No error when I "add" a new animal but error when I "edit"

[2021-03-03 21:27] Scott47 commented on #77
@dylanmorris51 Have you checked your `.json` file to make sure the data is uniform (i.e. all the same properties, etc.)?

[2021-03-03 21:30] AndreaMays commented on #73
no.

[2021-03-03 21:42] dylanmorris51 commented on #77
@Scott47 Yes I tried that, the error seems to be something else. When I call the put method the item is deleting all keys except for id

[2021-03-03 21:45] dylanmorris51 commented on #77
Solved:

I forget to write the ``body: JSON.stringify(animal)``` line into my put call

[2021-03-03 21:45] #77 closed

[2021-03-03 22:05] Thomas88s commented on #72
I just wanted to go back to a previous point in my kennels. my codes broke and i wanted to revisit and when i switch branches its still broke.

I still had uncommitted changes that were not allowing me to switch branches. After deleting the changes I was able to switch. I then looked up the branches i had on my local machine and checked out into the one that was appropriate.

[2021-03-03 22:05] #72 closed

[2021-03-03 23:04] jashah46 opened #78 "Cannot read property 'name' of undefined"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Jay Shah

#### Group:

#### Book / Chapter: bk 4, ch 5/6

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x ] Added label to specific project/assignment that you need help with
- [x ] Ad

[2021-03-03 23:24] SubtleCo commented on #78
Hey @jashah46 it looks like you're still calling `<Animal Card />` without any context in `Kennel.js`. Comment that out and your error goes away. Eventually your `kennel.js` will just be responsible for calling the `<NavBar>` and `<ApplicationViews>`. Looks like you've got it set up correctly in `<ApplicationViews>`, it's just the call in `kennel.js` that's angry because it's outside of an `<Anima

[2021-03-04 00:34] Scott47 commented on #78
@jashah46 Let us know if @SubtleCo 's solution works and if you'd like to go over it with any of us. Also, thank you Alex!

[2021-03-04 03:35] jashah46 commented on #78
that did the trick.  Thank you gentlemen!

[2021-03-04 15:00] #78 closed

[2021-03-04 16:00] powellmad opened #79 "Error trying to access values in the expanded api"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Madison Powell

#### Book / Chapter: Kennel Ch. 9

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added label to specific project/assignment that you need help with
- [x] Added to `c

[2021-03-04 16:26] #68 closed

[2021-03-04 16:30] #79 closed

[2021-03-04 16:33] powellmad commented on #79
Animal list was rendering before useEffect changed the state of animals so when the card was being rendered, animals was still an empty array. Adding a question mark after "locations" and "customers" fixed this by checking that those properties are defined before trying to access the value of "name".

[2021-03-04 17:17] ajawashington commented on #76
@SubtleCo So the first thing is that your customerOrderContext is not being used the way you think. Right now, you have a "click n buy" kinda thing there is no order that needs to be considered. Your CustomerProducts is your order. So in your first UseEffect() on OrderList just getProducts, then getCustomerProducts and remove the additional things. Then in your render map through the customerProdu

[2021-03-04 17:23] SubtleCo commented on #76
@ajawashington That makes a ton of sense! I'm still confused as to why my customerOrder isn't getting set in that useEffect, though - shouldn't it?

[2021-03-04 17:26] Loganwebb1994 opened #80 "Having trouble with my Location Form"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name:
Logan Webb
#### Group:

#### Book / Chapter:
Adding Animals
#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added label to specific project/assignment that you need help with
- [ ] A

[2021-03-04 17:32] Loganwebb1994 commented on #80
Issue resolved. My id for the location input field was "name" instead of "location"

[2021-03-04 17:43] #73 closed

[2021-03-04 21:54] Younique98 opened #81 "type of product shows up then doesn't as ith has one undefined and my link is not showing up"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Erica Thompson

#### Group: None

#### Book / Chapter: Kandy Korner/ Ordering Candy Chapter 11

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x ] Added label to specific project/assig

[2021-03-04 22:11] jakefroeb commented on #81
try switching the order of your get requests in your first use effect getting productTypes before getting products

[2021-03-05 04:23] Younique98 commented on #81
Thank you! I’ll try that.

On Thu, Mar 4, 2021 at 2:11 PM Jake Froeb <notifications@github.com> wrote:

[2021-03-05 05:59] jashah46 opened #82 "Cannot destructure property 'animal' of 'undefined' as it is undefined."
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Jay Shah

#### Group:

#### Book / Chapter: Ch 7

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added label to specific project/assignment that you need help with
- [ ] Added to `c4

[2021-03-05 14:57] Scott47 opened #83 "REACT HOOKS FOR BEGINNERS"
#### Name: Scott (Re: @SubtleCo 's post in #day-cohort-46 slack

#### Edit this issue or comment below to join discussion:

#### **_HELPFUL LINKS_ **
- [ ] 1. https://www.freecodecamp.org/news/beginners-guide-to-using-react-hooks/
- [ ] 2.
- [ ] 3.

[2021-03-05 15:03] Younique98 commented on #81
@jakefroeb  That worked!! You are so awesome. Thank you so much. I switched it to
`useEffect(() => {
      getProductTypes()
      .then(getProducts)
  }, [])`

[2021-03-05 15:03] #81 closed

[2021-03-05 15:29] Scott47 commented on #82
@jashah46 putting this comment here as a reminder to circle back re: refactor of `ApplicationViews`

[2021-03-05 19:02] jakefroeb opened #84 "Manipulating arrays down to objects using forEach loops"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Jake Froeb

#### Group:

#### Book / Chapter: 4/thorns-roses-14

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x ] Added label to specific project/assignment that you need help with
- [ x] Added to `c46 Help-T

[2021-03-05 19:16] jakefroeb commented on #84
i think i may be on the wrong track here might need someone to talk through this problem with to organize my thoughts

[2021-03-05 20:28] jakefroeb commented on #84
[code]

[2021-03-05 20:28] jakefroeb commented on #84
[code]

[2021-03-05 20:39] AndreaMays opened #85 "Chapter 9/10 questions"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Drea

#### Group:

#### Book / Chapter: 9 and 10

#### Have you searched the other issue tickets? If not, do that first.
- [X ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added label to specific project/assignment that you need help with
- [ ] Added to `c

[2021-03-05 20:56] Scott47 commented on #85
@AndreaMays for the register issue, I would check your JSON and make sure that the properties in the .json file match the properties on the register form and every object in the .json file are exactly the same.

For rendering `AnimalForm`, change your `<Route path="/animals/create">` to `<Route exact path="/animals/create">`

Let me know where you stand after these changes and I'll hop in your roo

[2021-03-05 21:01] Scott47 commented on #82
Animal Card renders after refactor of `ApplicationViews` and `Kennel.js` and deleting some old function calls in Kennel.JS

[2021-03-05 21:02] #82 closed

[2021-03-05 21:15] AndreaMays commented on #85
I changed the path but it still not showing up. Not sure where I went wrong but I will keep trying.

[2021-03-05 21:30] #84 closed

[2021-03-05 21:32] Younique98 opened #86 "type note found on card, been stuck for a few hours"
**_Ticket MUST be completed before getting help from an instructor_**

#### Name: Erica Thompson

#### Group: None

#### Book / Chapter:
Kandy Korner Chapter 10
#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x ] Added label to specific project/assignment that you ne

[2021-03-05 21:51] Scott47 commented on #85
curly bracket was closing function after the return and, therefore, the `AnimalForm` was not returning anything.

[2021-03-05 21:53] ajawashington commented on #86
@Younique98 try expanding your getProducts fetch call in your ProductProvider on the p
productType

[2021-03-05 22:03] Scott47 commented on #85
For not rendering owner on refresh, we changed the order of fetch calls in the `useEffect()` in `AnimalForm` to
[code]

[2021-03-05 22:04] #85 closed

[2021-03-06 00:42] Younique98 commented on #86
@ajawashington  I will try that. Thank you for replying

[2021-03-06 12:42] Scott47 commented on #1
This is a test to see if comments are showing up in slack @Scott47

[2021-03-06 22:05] Scott47 commented on #1
@Scott47

[2021-03-08 17:08] morriscodez opened #87 "Missing README Instructions"
#### Name: Dylan Morris
#### Breakout Room: Helm of Friendship

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x ] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-08 17:40] morriscodez opened #88 "ERD Naming Convention Clarification"
#### Name: Dylan Morris
#### Breakout Room: Helm Of Friendship

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ x] Rubber Ducking
- [ x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-08 18:02] Scott47 commented on #87
@dylanmorris51 https://github.com/nss-day-cohort-46/reactive-nutshell-helm-of-friendship-1#reactive-nutshell-the-information-dashboard

[2021-03-08 18:06] Scott47 commented on #88
The convention for a foreign key in JSON is name of the entity + `Id`, with a capital 'I' and lowercase 'D'. In this specific instance, you are connecting a user to a user, so the join is connecting a `userId` to a `userId`. `currentUserId` would be the currently logged in user and the `userId` would be that users friend. You can change the naming if it helps. Understanding the relationship is wha

[2021-03-08 18:12] morriscodez commented on #88
Understanding the relationship being the important thing does make sense.

```currentUserId``` being the logged in user makes sense and ```userId``` being the logged in user's friend makes sense.

Just to make sure I do understand you correctly; can we change the names in the ```Messages``` table to be ```senderId``` and ```receiverId```

So  connect ```senderId```(messages) to ```currentUserId```

[2021-03-08 18:27] Scott47 commented on #88
@dylanmorris51 messages is a one to many relationship. This is a public chat forum where a user can post a message and see other users messages, but this is not  like a user to user DM.

[2021-03-08 18:28] Scott47 commented on #87
@dylanmorris51 you are good, here, yes? I can close this issue?

[2021-03-08 19:39] morriscodez commented on #87
Turns out I am crazy and I'm thinking of the slack instructions on Day 46 channel

[2021-03-08 19:39] #87 closed, assigned to nobody

[2021-03-08 19:39] #88 closed, assigned to nobody

[2021-03-08 19:40] bpotts11 opened #89 "[QUICK ISSUE]"
#### Name: Ring of Sunfire
#### Breakout Room: Ring of Sunfire

#### REQUIRED Question or issue:

We are working on our ERD and we are a little confused about if we are supposed supposed to have two message sections, one for public and one for just friends?

#### REQUIRED Check all that apply:
- [x] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Sn

[2021-03-08 19:56] #89 closed, assigned to nobody

[2021-03-08 20:17] nicoletatum opened #90 "[QUICK ISSUE]"
#### Name: delete button location for articles
#### Breakout Room: Hammer of guardians

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-08 20:19] ajawashington commented on #90
@nicoletatum I think the card would be a great place to put it.

[2021-03-08 20:19] Scott47 commented on #90
We think the card should a good spot for it. Let me know if you want me to pop in to discuss @nicoletatum

[2021-03-08 20:21] jakefroeb opened #91 "HELP my useHistory() function seems to be breaking in the meat of my react bundle"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Jake Froeb
#### Breakout Room: garment of illusions

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this i

[2021-03-08 20:21] nicoletatum commented on #90
i agree, but i think a quick pop in would be helpful @Scott47 @ajawashington whoever is free for a sec

[2021-03-08 20:22] ajawashington commented on #90
@Scott47 test to see comments

[2021-03-08 20:23] Scott47 commented on #90
test @Scott47

[2021-03-08 20:25] ajawashington commented on #91
@sageklein @jisie test example

[2021-03-08 20:27] Scott47 commented on #91
@ajawashington comments test for c46-help-repo

[2021-03-08 20:28] Scott47 commented on #90
test for c46-help-repo @nicoletatum

[2021-03-08 20:28] Scott47 commented on #90
reopening to test comment @nicoletatum

[2021-03-08 20:29] #90 closed, assigned to nobody

[2021-03-08 20:29] Scott47 commented on #91
@jakefroeb ignore this @mention.

[2021-03-08 20:50] Scott47 commented on #91
Was not calling function correctly in JSX.

[2021-03-08 20:50] #91 closed, assigned to nobody

[2021-03-08 21:49] peytonkemp opened #92 "[QUICK ISSUE]"
#### Name: Peyton
#### Breakout Room: Hammer of Guardians

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-09 17:49] #92 closed, assigned to nobody

[2021-03-09 21:32] nch66862 opened #93 "Event List Does Not Re-Render When Events Gets New Data"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Nick Carver
#### Breakout Room: Talisman of Havoc

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is s

[2021-03-09 21:45] jashah46 opened #94 "Cannot Login Using Provided Login Data"
#### Name: Jay
#### Breakout Room: Shield of Swiftness

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-09 21:59] nch66862 commented on #93
The modal was being rendered using a route. The modal is supposed to be opened and closed using a boolean. The list began to re-render when the form was placed inside the list component and opened and closed with a boolean. The boolean state variable was passed into the form component so that it could be closed from within itself.

[2021-03-09 21:59] #93 closed, assigned to nobody

[2021-03-09 22:03] emilycentko opened #95 "Event Form not POSTing and Saving"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Emily
#### Breakout Room: Shield of Swiftness

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stopi

[2021-03-09 22:22] ajawashington commented on #95
@emilycentko you are not passing an event in the handleSaveEvent args.
`const handleSaveEvent = (event) => {}`

[2021-03-09 22:24] ajawashington commented on #94
Json-server running in the wrong directory.

[2021-03-09 22:24] #94 closed, assigned to nobody

[2021-03-10 15:01] emilycentko commented on #95
@ajawashington I just tried that and get a new error when I try to submit the form: TypeError: Converting circular structure to JSON.

[2021-03-10 15:04] jakefroeb commented on #95
make sure the event you are passing into the provider is the event you created not the event created on click. For example the event.preventDefault() is a different event than the event.name

[2021-03-10 15:17] ajawashington commented on #95
@emilycentko what @jakefroeb said!

[2021-03-10 15:17] emilycentko commented on #95
Would you mind explaining that a bit more @jakefroeb? I think I'm still a bit unclear!

[2021-03-10 15:21] ajawashington commented on #95
@emilycentko first I would change event.preventDefault to e.preventDefault so it is different. And it know the event being passed through is the event you want to save.

[2021-03-10 15:31] jashah46 opened #96 "Not Rendering - No Errors"
#### Name: Jay Shah
#### Breakout Room: Shield of Swiftness

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [x] Rubber Ducking
- [ ] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-10 15:35] emilycentko commented on #95
I just added the following code into my handleControlledInputChange function and that did it! But I'm not exactly sure what that does or why

[code]

[2021-03-10 15:42] #95 closed, assigned to nobody

[2021-03-10 16:20] jashah46 commented on #96
Had to add my page path to the "NavBar.js" component.   Check it as my  teammates didn't have to add it.  It was already there for them.  It was not on mine.

[2021-03-10 16:20] #96 closed, assigned to nobody

[2021-03-10 16:28] Scott47 commented on #86
@Younique98 Is this resolved? I know you aren't working on kandykorner right now, but I wanted to check.

[2021-03-10 16:47] calebsjames opened #97 "Auto-fill edit form"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Caleb
#### Breakout Room: Talisman of Havoc

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping

[2021-03-10 16:49] jakefroeb opened #98 "API not parsing to json"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Jake
#### Breakout Room: garment of illusion

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x ] Added to `c46 Help-Thread` project board
- [x ] Added the `Blocker` label if this is stoping you from moving forwa

[2021-03-10 16:51] Scott47 commented on #97
@calebsjames I'm wondering if the `event.preventDefault()` inside the form is preventing all default behavior. What happens if you move the `event.preventDefault()` to the `handleSaveMessage()` function?

[2021-03-10 16:58] jisie commented on #98
@jakefroeb Your URL is missing `http://` at the beginning

[2021-03-10 17:00] jakefroeb commented on #98
shame
and dissappointment....
postman lied to me and made my error go away

[2021-03-10 17:01] #98 closed, assigned to jakefroeb

[2021-03-10 17:02] calebsjames commented on #97
I tried this implementation but it did not have any discernible effect. Thanks for the suggestion!

[2021-03-10 17:10] Scott47 commented on #97
@calebsjames in your `useState`, your keys do not match up with the input field. `textarea` has a id of `postText` and the state variable has a key of text. Because the `handleControlledInputChange()` uses the id of the element of the key, that id has to be the same as the key/value pair you are trying to change.

[2021-03-10 17:11] calebsjames commented on #97
This was it. Thanks Scott!

[2021-03-10 17:12] #97 closed, assigned to nobody

[2021-03-10 17:16] jashah46 opened #99 "Github Shows Conflicts But Don't See On VSCode"
#### Name: jay shah
#### Breakout Room: Shields of Swiftness

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x ] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-10 17:21] SubtleCo opened #100 "React and OpenWeather API"
#### Name: Alex Martin
#### Breakout Room: Pendant of Intellect

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping you from moving forward

#### REQUIRED Describe your issue:

[2021-03-10 17:22] nathanRomad opened #101 "Tasks 'delete' button is deleting all tasks"
#### Name: Nathan H
#### Breakout Room: Gauntlets of Adventure

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
- [X] Added to `c46 Help-Thread` project board
- [X] Added the `Blocker` label if this is stoping you from moving forward

#### REQUIRED Describe your issue:
I am trying to get my 'delet

[2021-03-10 17:23] jakefroeb commented on #100
look at my help ticket i just finished your fetch needs http://

[2021-03-10 17:27] SubtleCo commented on #100
Oh sweet jiblets. Thank you.

[2021-03-10 17:27] SubtleCo commented on #100
fixed with #98

[2021-03-10 17:27] #100 closed, assigned to nobody

[2021-03-10 17:30] SubtleCo commented on #98
Honestly it's because the OpenWeather documentation doesn't have http:// in the url. bummer summer.

[2021-03-10 17:30] jakefroeb commented on #98
and because it works in postman without it

[2021-03-10 17:43] nathanRomad commented on #101
It seems to be working now and would still like a RUBBER DUCK.
BLU and ERICA helped me find the error!  I was passing "0" as the initial userId in my state variable.
Handle delete function was messing up my fetch call..
I am not sure I completely understand this issue...

but changing my TaskForm to check for the userId based on the user who is logged in..
[code]

[2021-03-10 17:45] Scott47 commented on #99
needed to `git merge main` to see conflicts in VSCode.

[2021-03-10 17:45] #99 closed, assigned to nobody

[2021-03-10 18:09] nicoletatum opened #102 "merge conflict- we are at lunch. will be back at 1!"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: nicole tatum
#### Breakout Room: hammer of guardians

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [X] Added to `c46 Help-Thread` project board
- [X] Added the `Blocker` label if this i

[2021-03-10 18:52] ajawashington commented on #102
@nicoletatum I'll hop in your room after lunch.

[2021-03-10 19:52] Younique98 opened #103 "[QUICK ISSUE]"
#### Name: Erica Thompson
#### Breakout Room:
Gauntlets of adventure
#### REQUIRED Question or issue:
Terminal error message when pulling down code

`

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [ x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-10 20:13] #102 closed, assigned to nobody

[2021-03-10 20:23] Younique98 commented on #103
Here is how they had me fix the code error that I had within my terminal.

`git status

❯ git reset --hard @{u}

❯ git status

❯ git pull origin main
`

[2021-03-10 20:23] #103 closed, assigned to nobody

[2021-03-10 20:27] nathanRomad commented on #101
json-server does not know what to do with a userId of '0'
I was trying to set '0' as the default user ID thinking that json-server would increment and create new userId when a task was created.
changing the initial value to:
 ```userId: parseInt(sessionStorage.getItem("nutshell_user")),```
Now when a task is created.. it is checking to see what user is logged in and uses that userId to know which

[2021-03-10 20:27] #101 closed, assigned to nathanRomad

[2021-03-10 20:46] morriscodez opened #104 "Events filtering by user and sorting by date"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Dylan Morris
#### Breakout Room: Helm of Friendship

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this i

[2021-03-10 20:52] jakefroeb commented on #104
For a sort method your callback function needs to return something so maybe try making it a one line function something like
[code]

[2021-03-10 20:53] Scott47 commented on #104
what @jakefroeb said @dylanmorris51

[2021-03-10 20:54] notdanross opened #105 "Live chat - question about direction to proceeed"
#### Name: Dan Ross
#### Breakout Room: PENDANT OF INTELLECT

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [x] Direction/Guidance

#### Code Snippet

Snippet from our message list. "notification" is a state variable on the messageProvider.
https://github.com/nss-day-cohort-46/reactive-nutshell-nss-pendant-of-intellect/tree/dr-liveChat/src/components/messages

[code]

[2021-03-10 20:56] Scott47 commented on #104
@dylanmorris51 , you can write it as a single line like @jakefroeb says . Otherwise, you need a `return` because you are making the `sort()` multiline. When it's a single line, there is an implicit return.

[2021-03-10 21:01] morriscodez commented on #104
I'm trying that and still can't get it work

[2021-03-10 21:05] ajawashington commented on #105
@Daniel-L-Ross can you add a link to your branch plz?

[2021-03-10 21:09] TrentSisson opened #106 "I need direction and help with friends/users searchbar"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Trent Sisson
#### Breakout Room: Cool Bean Cafe

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is sto

[2021-03-10 21:09] kylieanyce opened #107 "MessageCard not receiving data"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Kylie
#### Breakout Room: Helm of Friendship

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping you from moving forward

[2021-03-10 21:12] notdanross commented on #105
@ajawashington Here is the link: the notification state variable is declared in the provider and the useEffect is in messageList.

https://github.com/nss-day-cohort-46/reactive-nutshell-nss-pendant-of-intellect/tree/dr-liveChat/src/components/messages

[2021-03-10 21:13] ajawashington commented on #107
@kylieanyce on your message provider try expanding on the user on the get Request.

[2021-03-10 21:15] ajawashington commented on #106
@TrentSisson meet me in my instructor's room! I need to look more at this issue.

[2021-03-10 21:20] kylieanyce commented on #107
@ajawashington that does get the return statement on the DOM again, but the javascript block isn't working. I'm still getting an error that user is undefined in message.js... Is this an example of having to let go of code that works and just rewrite the whole block?

[2021-03-10 21:24] kylieanyce commented on #107
@ajawashington okay, I tried that and it displayed half of the info to the DOM but still wasn't sending any user data to messageCard, only message data. User was undefined in message.js. I refreshed the page a few times and now I'm getting an error that the fetch call isn't working at all. "unexpected T in JSON, 500 error"

[2021-03-10 21:27] ajawashington commented on #107
@kylieanyce and when a debugger is added before this line [](https://github.com/nss-day-cohort-46/reactive-nutshell-helm-of-friendship-1/blob/82b093ed93304ba7497c248564ad90e9454e18ae/src/components/messages/MessageList.js#L55) is the user data there?

[2021-03-10 21:29] morriscodez commented on #104
solved thanks for the help everyone!

I was parsing as you suggesting Jake but never called that variable

[2021-03-10 21:29] #104 closed, assigned to nobody

[2021-03-10 21:31] Younique98 opened #108 "Quick question - Form Required not working"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Erica Thompson
#### Breakout Room:
Gauntlets-of-adventure
#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ x] Added to `c46 Help-Thread` project board
- [ x] Added the `Blocker` label if

[2021-03-10 21:37] ajawashington commented on #108
@Younique98 on your button on the form that onClick method. move that to your form tag and change it to onsubmit. and make sure your button has a type of submit.

Should look like this: sent through slack

[2021-03-10 21:40] ajawashington commented on #108
`<form className="newsArticleForm onSubmit={event => {
            event.preventDefault() // Prevent browser from submitting the form and refreshing the page
            handleSavenewsArticle()
          }}">
        <h2 className="newsArticleForm__title">{newsArticleId ? "Edit News Article" : "Add News Article"}</h2>
        <fieldset>
          <div className="form-group">
            <label htm

[2021-03-10 21:45] #105 closed, assigned to nobody

[2021-03-10 22:03] #106 closed, assigned to nobody

[2021-03-10 22:14] Scott47 commented on #107
malformed JSON in file. Restart of json-server solved issue.

[2021-03-11 13:44] Ccourter11 opened #109 "Never ending loop"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Calvin Courter
#### Breakout Room: Shield of Swiftness

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if thi

[2021-03-11 13:57] Scott47 commented on #109
@Ccourter11 you are watching for users in the dependency array of your `useEffect()` , but you `getUsers()` promise calls `setUser` to set the state of `users`.
https://github.com/nss-day-cohort-46/reactive-nutshell-shield-of-swiftness-1/blob/cc-friends-pr/src/components/users/UserProvider.js#L16

This changes the state of `users` and causes the `useEffect()` to run again. You will need to remove

[2021-03-11 14:04] #109 closed, assigned to nobody

[2021-03-11 14:32] blusanders opened #110 "Filter/Map/Find Timing Issues (I think)"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Blu Sanders
#### Breakout Room: Gauntlets of Adventure

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this

[2021-03-11 14:32] kylieanyce commented on #107
@Scott47 @sageklein @ajawashington So... I cleared out the incorrect data in my database and restarted my JSON server, and the message board appears on the DOM. However, once I click the add message button, I get several errors. It seems to be iterating through the return about 10 times and console.logging my data, then adding one more message with userId undefined. I'm trying to assign the userId

[2021-03-11 15:13] Scott47 commented on #110
@blusanders First thing I notice is that you are not getting the value out of session storage. It should be `const currentUserId = parseInt(localstorage.getItem('nutshell_user')` Also, you do not need to `parseInt()` `myFriend.userId`.

https://github.com/nss-day-cohort-46/reactive-nutshell-gauntlets-of-adventure-1/blob/9956e9db4c598b86a3e00bff7a4604d646e75aa6/src/components/message/MessageCard.js

[2021-03-11 15:15] ajawashington commented on #107
@kylieanyce make sure in your state variable userId is not 0 and is the currentUserId variable you defined.

[2021-03-11 15:40] Scott47 commented on #107
@kylieanyce had a double underscore for `const currentUserId = sessionstorage.getItem('nutshell__user')`

[2021-03-11 15:40] #107 closed, assigned to nobody

[2021-03-11 15:45] emilycentko opened #111 "Chat about API documentation for capstone"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Emily
#### Breakout Room:

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping you from moving f

[2021-03-11 15:56] blusanders commented on #110
Well that was dumb. Copy that.

I'm still having weird issues.

[2021-03-11 16:39] emilycentko opened #112 "Sorting events and CSS inline styling"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Emily
#### Breakout Room: Shield of Swiftness

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stopi

[2021-03-11 17:00] peytonkemp commented on #104
Sorting was killing me.. This helped!!

[2021-03-11 17:11] powellmad opened #113 "Error { users } in UserContext is coming up as undefined when imported into Messages"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Madison
#### Breakout Room: Hammer of Guardians

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [] Added the `Blocker` label if this is stop

[2021-03-11 17:25] TrentSisson opened #114 "I need guiddance with addFriend"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Trent Sisson
#### Breakout Room: Sweet waterfall coffee shop

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label i

[2021-03-11 17:32] jashah46 commented on #108
Aja, I may have a similar issue. Can you slack that to me too? or Yasmeen?

[2021-03-11 17:34] nathanRomad opened #115 "Edit feature"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name:   Nathan
#### Breakout Room:   Gauntlets of Adventure

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [X] Added to `c46 Help-Thread` project board
- [X] Added the `Blocker` label if this is stoping you from moving

[2021-03-11 17:38] dtracydepp opened #116 "Task is not being removed from tasklist after checked"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Tracy
#### Breakout Room: Shields of Swiftness

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is sto

[2021-03-11 17:50] TrentSisson commented on #114
I needed to put the function where my button was located and import my useContext so my function had the data.

[2021-03-11 17:50] #114 closed, assigned to nobody

[2021-03-11 17:58] #113 closed, assigned to nobody

[2021-03-11 18:07] Thomas88s opened #117 "Edit button creating whole new event."
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Thomas Witherow
#### Breakout Room: Sunfire

#### Have you searched the other issue tickets? If not, do that first.
- [ x Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping

[2021-03-11 18:10] samj0516 opened #118 "[QUICK ISSUE]"
#### Name: Samantha
#### Breakout Room: Talismans of havocing

#### REQUIRED Question or issue: Caleb pulled my branch down to check my PR. It has an error, is looking for a (friends) file/component that doesn't exist on that branch. It worked fine on everyone else's machine. Why is it looking for something that doesn't exist on that branch? Branch is sc-TaskForm

#### REQUIRED Check all that appl

[2021-03-11 18:13] jakefroeb commented on #116
so this problem is occuring because your useEffect that filters your tasks by whether they are complete or not only runs once after render. in your second useEffect on line 22 try something like
[code]
this will will change your filtered tasks every time your tasks variable is changed, and because when you complete a task it runs getTasks() at the end it should trigger this useEffect which will up

[2021-03-11 18:15] powellmad commented on #113
Instead of importing users and using a .find in message list, you can set the initial state to current user in message form. You get get the current user from session storage, then set the initial state of current user.

[code]

[2021-03-11 18:20] ajawashington commented on #118
@samj0516 @calebsjames did we add and commit our changes on our working branch before checking out to a new one?

[2021-03-11 18:22] nathanRomad commented on #115
gonna watch this after lunch and see if I can figure out this issue:  https://www.youtube.com/watch?v=NkT2yiv-NZ4

[2021-03-11 18:23] jakefroeb commented on #117
your branch does not seem to be up to date but i imagine that you are calling the function handleClickSaveEvent, instead of your new function handleSaveEvent

[2021-03-11 18:24] ajawashington commented on #117
@Thomas88s looking at the link you posted it doesn't have updateEvent being imported and also on this line

https://github.com/nss-day-cohort-46/reactive-nutshell-ring-of-sunfire-1/blob/cd5df4423403181e5a5eb1d27f613dd119d3831b/src/components/Events/EventForm.js#L26

should id be lowercase?

[2021-03-11 18:57] ajawashington commented on #108
@Younique98 could you put the solution to this issue and close out this ticket?

[2021-03-11 19:07] Thomas88s commented on #117
I'm really not sure. Most of the group is at or around this part in their code and we were hoping someone code walk us through.

[2021-03-11 19:12] Scott47 commented on #118
@samj0516 @calebsjames Was this an untracked changes issue like @ajawashington mentioned and is it resolved?

[2021-03-11 19:17] notdanross commented on #105
SOLVED: By a careful reading of react documentation (and some tips from my esteemed colleagues) I was able to implement a simple solution that did not substantially modify existing code.

https://reactjs.org/docs/hooks-effect.html#tips-for-using-effects

[2021-03-11 19:19] jisie commented on #117
@Thomas88s Came into the breakout room and I think your volume was off. Let me know when most of the team is back from lunch and we can talk through edit.

[2021-03-11 19:20] samj0516 commented on #118
@Scott47 @ajawashington he added/committed his branch before switching to mine. However, the errors popping up were on his previous branch. Not currently resolved yet

[2021-03-11 19:28] blusanders commented on #110
Moved my getFriends fetch call to Message List which made it only call getFriends one time rather than every time it was in a Message card. This solved the issue. Not totally sure why other than perhaps calling getFriends rapidly perhaps was causing everything to not be in sync?

[2021-03-11 19:28] #110 closed, assigned to blusanders

[2021-03-11 19:40] samj0516 commented on #118
So Caleb went back and fixed the errors that were on his branch, added/committed, then came back to my branch and the issue was resolved! Somehow the changes he had made on his branch must have followed him when he came to look at my branch. All good now :)

[2021-03-11 19:40] #118 closed, assigned to calebsjames, samj0516

[2021-03-11 20:04] Loganwebb1994 opened #119 "Need a one on one"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Logan
#### Breakout Room: Helm of friendship

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stopin

[2021-03-11 20:09] Scott47 commented on #115
Added `task` prop as parameter in form component, fixed routes in `ApplicationViews`, added a `useEffect()` to form, and changed `getTasks()` fetch to only get tasks for the currently logged in user.

[2021-03-11 20:10] Scott47 commented on #115
@nathanRomad I made a list of things we did ☝️ . As you are going through it and making comments, let me know if there is anything you need clarification on.

[2021-03-11 20:16] jisie commented on #116
@dtracydepp Are you still having this issue?

[2021-03-11 20:27] Thomas88s commented on #117
The event handler needed the eventId  to be able to know to update event.  My updateEvent function had" id: event.id" when it needed "id: eventId".

[2021-03-11 20:27] #117 closed, assigned to nobody

[2021-03-11 20:36] emilycentko commented on #112
Refactored sort into EventList module with following code inside useEffect, then add an eventCounter to grab the first index set to ( ===) 1 in a conditional to add inline styling to Event.js

[code]

[2021-03-11 20:36] #112 closed, assigned to nobody

[2021-03-11 20:40] Scott47 commented on #119
added fetch to get friends by the currently logged in user. Needs to loop through friends and articles and match `articles.userId` to `friends.userId` and  `friends.currentUserId`

[2021-03-11 20:55] dtracydepp commented on #116
useEffect(() => {
    const subset = tasks.filter(task => task.isComplete === false)
    setFilteredTasks(subset)

  }, [tasks])

I was calling getTasks twice after initial render and
I should have been filtering through tasks instead of filteredTasks and I also didn't have a .then(getTasks) in my provider to addTasks

[2021-03-11 20:55] #116 closed, assigned to nobody

[2021-03-11 21:10] jashah46 opened #120 "Git hub!!! Merged Branch Not Showing New Code"
#### Name: Jay
#### Breakout Room: Shield

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x ] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-11 21:13] jisie commented on #76
[code]

Setting state is an asynchronous process. So a `.then` will not necessary wait for the set state to be done. The the best way to do something when state changes is to have a useEffect that contains that state variable in the dependency.

[2021-03-11 21:13] #76 closed

[2021-03-11 21:19] jashah46 commented on #120
I had unsaved files in my VS Code.  Close out those files and re-open it. Should be fine after that.

[2021-03-11 21:19] #120 closed, assigned to nobody

[2021-03-11 21:28] kylieanyce commented on #115
@nathanRomad @Scott47  I am having this exact same issue but with editing the messages. Curious about the solution.

[2021-03-11 21:31] morriscodez opened #121 "Friend Events Rendering"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Dylan
#### Breakout Room: Helm Friendship

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping

[2021-03-11 21:38] AndreaMays opened #122 "Edit not prefilling form"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: drea
#### Breakout Room: ring of sunfire

#### Have you searched the other issue tickets? If not, do that first.
- [X ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ X] Added to `c46 Help-Thread` project board
- [ X] Added the `Blocker` label if this is stoping

[2021-03-11 21:41] ajawashington commented on #122
@AndreaMays can you send a link to your branch and not your pr?

[2021-03-11 21:44] kylieanyce opened #123 "Get Message By Id not working"
#### Name: Kylie
#### Breakout Room: Helm of Friendship

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes, and I commented on it
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping you from moving forward

#### REQUIRED Describ

[2021-03-11 21:48] powellmad opened #124 "[QUICK ISSUE] Join tables and accessing data from another re: friends"
#### Name: Madison Powell
#### Breakout Room: Buzz Buzz Tearoom

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-11 21:49] SubtleCo commented on #122
Two quick things I noticed:

-useParams on line 26 isn't invoked - add a "()" to useParams()

-getArticleById doesn't exist in the AricleProvider yet!

I added those two things and the article to edit appears in the form!

[2021-03-11 22:04] ajawashington commented on #122
@AndreaMays what @SubtleCo said. Didnt even notice the useParams() was not invoked.

[2021-03-11 22:05] ajawashington commented on #122
@AndreaMays for your provider

const getArticleById = (id) => {
  return fetch(`http://localhost:8088/articles/${id}`)
      .then(res => res.json())
}

[2021-03-11 22:08] #108 closed, assigned to nobody

[2021-03-11 22:12] jisie commented on #121
@dylanmorris51 We are planning to cover this logic tomorrow with Logan. We can pull you in!

[2021-03-11 22:20] emilycentko opened #125 "[QUICK ISSUE] PR did not pull today's commits on GitHub"
#### Name: Emily
#### Breakout Room: Shield of Swiftness

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

Git/GitHub issue

[2021-03-12 01:22] SubtleCo commented on #76
Beautiful, thank you!

[2021-03-12 01:27] SubtleCo commented on #123
Hey @kylieanyce ! I think Params is an object that needs to be destructured.

Maybe try `const { messageId } = useParams()` ?

[2021-03-12 14:14] kylieanyce commented on #123
@SubtleCo Yes that worked!! Now on to fix this new error lol... Thank you!

[2021-03-12 14:14] #123 closed, assigned to nobody

[2021-03-12 14:35] #115 closed, assigned to nathanRomad

[2021-03-12 15:01] nathanRomad opened #126 "Edit Form needs to be pre-filled with data"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name:   Nathan
#### Breakout Room: Gauntlets of Adventure

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
I read Caleb and Andrea's help tickets but still don't quite understand what I need to do to pre-fill the form.
I think this is a quick issue..

####  REQUIRED Add Tags to Issue Ticket

[2021-03-12 15:13] ajawashington commented on #124
@powellmad To access friends I would make a friend provider, and when going to list friends just filter through where currentUserIds match. Is that what you are asking?

[2021-03-12 15:14] AndreaMays commented on #122
@SubtleCo @ajawashington thank you so much. That worked! Quick follow up question, now that it's auto populating I can type in to edit the form, but what i type in is not being saved. I've looked at the if/else statement and checked my code again... i'm just struggling to find the bug

[2021-03-12 15:20] nathanRomad commented on #126
I updated my useEffect to check the form for a taskId and pre-fill the form if data is present!

[code]

[2021-03-12 15:25] morriscodez commented on #121
Solved:
[code]

Just needed to filter out the duplicate data from the nested loop. Nested loop is returning event objects for the session storage user which makes no sense to me but filtering that out works

[2021-03-12 15:25] #121 closed, assigned to nobody

[2021-03-12 15:27] morriscodez commented on #119
Try this:

[code]
    const getFriendsByCurrentUser = (id) => {
        return fetch(`http://localhost:8088/friends?currentUserId=${id}`)
            .then(res => res.json())
            // .then(setFriends)
    }
[code]

[2021-03-12 15:28] #126 closed, assigned to nathanRomad

[2021-03-12 15:42] AndreaMays commented on #122
Thank you!

Answer to latter half of the question is the article.id was being turned into a string, so I had to "parseInt" my  "id" in the "UpdateArticle" in my "handleClickSaveArticle" in the "form".

[2021-03-12 15:43] #122 closed, assigned to nobody

[2021-03-12 15:44] #83 closed

[2021-03-12 15:45] #74 closed

[2021-03-12 15:56] kylieanyce opened #127 "route not working for history.push"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Kylie
#### Breakout Room: Helm of Friendship

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
- [x] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoppin

[2021-03-12 15:59] #124 closed, assigned to nobody

[2021-03-12 16:00] jisie commented on #127
@kylieanyce Is the data being edited in the database? If not, then none of the code in your `handleEditMessage` might be executing. Try adding `event.PreventDefault()`

[2021-03-12 16:02] powellmad commented on #124
You can either filter for ids that match or you can filter by including currentUserId in the fetch call. This will only show friends for the user of that id. You just need to set the id to the session storage id.

http://localhost:8088/friends?_expand=user&currentUserId=${id}

[2021-03-12 16:13] kylieanyce commented on #127
@jisie it is editing my database correctly. Even if I simply want to route it back to the message list, that doesn't even work.

[2021-03-12 16:29] emilycentko commented on #125
Checked out to new branch to have changes from previous one follow. Teammates tested and merge conflicts resolved.

[2021-03-12 16:29] #125 closed, assigned to nobody

[2021-03-12 16:30] kylieanyce commented on #127
Adding event.preventDefault() to the handleEditMessage function fixed it!

[2021-03-12 16:30] #127 closed, assigned to nobody

[2021-03-12 17:54] #119 closed, assigned to Loganwebb1994

[2021-03-12 19:02] powellmad opened #128 "[QUICK ISSUE] Terminal Command Stopped Working"
#### Name: Madison Powell
#### Breakout Room: Madison

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

I put this in zshrc for now.

[code]

[2021-03-12 19:52] Scott47 commented on #128
@powellmad if you added that to your .zshrc file and it is still not working, you may need to restart your terminal and maybe restart visual studio code.

Also, have you looked here?: https://code.visualstudio.com/docs/setup/mac

[2021-03-12 20:08] KaitlinJKelley opened #129 "Promise.all"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Kaitlin
#### Breakout Room:

#### Have you searched the other issue tickets? If not, do that first.
- [X ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [X ] Added to `c46 Help-Thread` project board
- [X ] Added the `Blocker` label if this is stoping you from mov

[2021-03-12 20:30] nathanRomad opened #130 "[QUICK ISSUE]"
#### Name:   Nathan
#### Breakout Room:  Nathan

#### REQUIRED Question or issue:

I have an existing repo setup but think there is something not installed in my terminal..

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [X] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

Terminal:
NPM ERR!

[2021-03-12 20:32] kylieanyce opened #131 "API question"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Kylie
#### Breakout Room: Kylie

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board

#### REQUIRED Describe your issue:

#### REQUIRED What have y

[2021-03-12 20:36] jisie commented on #130
@nathanRomad You should not be setting up your code until you have had your one on one. You can create an empty repo for creating issues and the project board. The instructions for repo set up will be updated for Monday.

[2021-03-12 20:41] nathanRomad commented on #130
ok.. I have my project board and am creating issues.
I was trying to setup and link the repo but I will happily wait until monday.

Thank you.

[2021-03-12 20:41] #130 closed, assigned to nathanRomad

[2021-03-12 20:51] KaitlinJKelley commented on #129
passed finalLatLong into Promise.all(), because that is where the data I need ends up when the promise is returned
[code]

[2021-03-12 20:51] #129 closed, assigned to nobody

[2021-03-12 21:30] kylieanyce commented on #131
I'm going to focus on using just one API and creating the other!

[2021-03-12 21:30] #131 closed, assigned to nobody

[2021-03-12 21:57] Scott47 commented on #111
posted question to #ask-alumni-web-dev, got a great response from our awesome alum and has settled on an api.

[2021-03-12 21:57] #111 closed, assigned to Scott47

[2021-03-14 03:25] powellmad commented on #128
@Scott47 I have looked at that article and restarted both. This has actually been an issue for over a month and I thought it was time to finally figure it out.

[2021-03-14 14:35] blusanders opened #132 "[QUICK ISSUE] Capstone ERD scope"
#### Name: Blu Sanders
#### Breakout Room: my head

#### REQUIRED Question or issue:

I feel like I'm building my ERD for what my app could be rather than what realistically it should be. Specifically, I'm adding a step that creates a new join table (and adds complexity) that in a the real world would make sense, but for the sake of building an app that demonstrates my learning to this point seems

[2021-03-14 14:38] jashah46 opened #133 "Capstone ERD"
#### Name: Jay
#### Breakout Room: N/A

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [X] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-14 14:56] blusanders commented on #132
After typing this out I think I'm going to pull it back but would appreciate comments so I will leave open for now.

[2021-03-14 14:57] Scott47 commented on #132
@blusanders @ajawashington will review this with you in your 1:1. I would think about what you want your app to do and build an ERD for it. If it needs to be revised for any reason, we will help you with that. Your final proposal is still a proposal and first draft of your plan. If you want to link to your current ERD in your proposal or post a link to it here, I am happy to take a quick look. Oth

[2021-03-14 15:14] Scott47 commented on #133
Remember, that part of your requirements are to have CRUD (Create, Read, Update, Delete) on, at least, one resource in your `.json` file. Think through the entities you will be maintaining in your `database.json`. If the user is trying to optimize a draft, would they then save their players? If so, then you would need a players table in your erd with a userId as a foreign key for a one to many rel

[2021-03-14 15:16] blusanders commented on #132
https://dbdiagram.io/d/602e99d480d742080a3b1922

Thank you. I'm building a Per Diem app for a music tour. That's the goal. Literally a dollar amount and a bill breakdown. In the real world a crew member can be on multiple tours for multiple artists in any given year. Then they will be on multiple "runs" (a weekend of shows for example) on those tours. Adding the ability to be on multiple tours is

[2021-03-14 15:16] #132 closed, assigned to blusanders

[2021-03-14 15:22] Scott47 commented on #132
Yeah. Looking at your ERD as it is, I think you have hit the nail on the head. That is something you can add as stretch.

[2021-03-14 15:23] Scott47 commented on #133
@jashah46 ☝️ Sorry, I forgot the @mention

[2021-03-15 05:23] #133 closed, assigned to nobody

[2021-03-15 05:23] jashah46 commented on #133
Thank you Scott!

[2021-03-15 05:24] jashah46 commented on #133
@Scott47

[2021-03-15 18:14] Loganwebb1994 opened #134 "[QUICK ISSUE] Need to delete local repo, not working"
#### Name: Logan Webb
#### Breakout Room: Logan

#### REQUIRED Question or issue:

I have tried y + enter and yes + enter, but the message just keeps showing up.
#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-15 18:18] Scott47 commented on #134
@Loganwebb1994 make sure you are one level up from your local directory. Type `rm -rf <directory name>`

Then you can `npx create-react-app <appname>`

[2021-03-15 18:20] Loganwebb1994 commented on #134
@Scott47  Thanks!

[2021-03-15 18:20] #134 closed, assigned to nobody

[2021-03-16 13:28] SubtleCo opened #135 "[QUICK ISSUE] React and environment variables"
#### Name: Alex Martin
#### Breakout Room: Alex M

#### REQUIRED Question or issue:

"WARNING: Do not store any secrets (such as private API keys) in your React app! Environment variables are embedded into the build, meaning anyone can view them by inspecting your app's files."

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session

[2021-03-16 15:48] jisie commented on #135
@SubtleCo This is going to come up when you host your application. So whatever hosting platform you use, you will have to look into how you can have runtime environment variables through the platform. Ideally, you want your client side app to make a request to a server side app which then uses the api key to get the data.

[2021-03-16 15:54] SubtleCo commented on #135
@jisie Understood. So for now, the setup I listed above is fine? (given that `.env.local` is in `.gitignore`)

[2021-03-16 15:55] jisie commented on #135
@SubtleCo Yup!

[2021-03-16 15:56] #135 closed, assigned to nobody

[2021-03-16 16:35] Loganwebb1994 opened #136 "[QUICK ISSUE] Git hub isnt registering my changes"
#### Name: Logan Webb
#### Breakout Room: Logan

#### REQUIRED Question or issue:

There isn’t anything to compare.
main and file-structure are entirely different commit histories.

update: I added the mock authentication code to try and push and merge again and got the same message.

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent s

[2021-03-16 16:56] Loganwebb1994 commented on #136
Update: just tried this

$ git push --force file-structure
fatal: 'file-structure' does not appear to be a git repository
fatal: Could not read from remote repository.
Please make sure you have the correct access rights
and the repository exists.

[2021-03-16 18:20] Loganwebb1994 commented on #136
I had a repo that wasnt empty so I had to follow the second set of instructions.

[2021-03-16 18:20] #136 closed, assigned to nobody

[2021-03-16 19:48] morriscodez opened #137 "Expand not working as expected"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Dylan
#### Breakout Room: Dylan's Dojo

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping you

[2021-03-16 20:02] morriscodez commented on #137
Solved:

had to change my database so exerciseType was

```exerciseTypes```

otherwise JSON doesn't recognize it as something with multiple entries

[2021-03-16 20:02] #137 closed, assigned to nobody

[2021-03-16 21:36] powellmad opened #138 "[QUICK ISSUE] React App Setup Clarification"
#### Name: Madison
#### Breakout Room: Madison

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

[2021-03-16 23:33] #138 closed, assigned to nobody

[2021-03-17 15:03] notdanross opened #139 "Getting search terms from an object - Re-opened"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Dan Ross
#### Breakout Room: Strong female lead

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping you from moving forwar

[2021-03-17 15:07] KaitlinJKelley opened #140 "429 - Too Many Requests"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Kaitlin
#### Breakout Room: Kaitlin

#### Have you searched the other issue tickets? If not, do that first.
- [X ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [X ] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping you f

[2021-03-17 15:08] phillip-phan-imprivata opened #141 "Mapping through an array and running fetch calls returns "Connection Refused" error"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Phillip Phan
#### Breakout Room: Phillip

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping yo

[2021-03-17 15:11] Loganwebb1994 opened #142 "I just need help getting started"
#### Name: Logan
#### Breakout Room: Logan

#### REQUIRED Question or issue:

Im just not sure where to start and could use a little guidance
#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet
No working code yet..
[code]

[2021-03-17 15:23] Loganwebb1994 commented on #142
Now I'm getting an error about a closing route tag in application views and I dont have anything in that file yet.

[2021-03-17 15:24] jakefroeb commented on #139
Interesting problem... if you plan to use the api later as a stretch goal then i would code some logic to go through the keys and only display the ones you want, otherwise i would consider modifying your data to hold only the key value pairs you would use.

[2021-03-17 15:28] powellmad opened #143 "Error: Invarient Failed"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Madison
#### Breakout Room: Madison

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping you fro

[2021-03-17 15:31] Scott47 commented on #139
@jakefroeb @Daniel-L-Ross 's solution is very specific to his data, but you should check out his solution.

[2021-03-17 15:32] jakefroeb commented on #140
Im not entirely sure but i think it is because your Promise.all is triggering every time through the map loop as the promises are fulfilling as they are being added to the promise array. which is then triggering the rest of your code. Try initializing promise outside the loop, then building your promise array in the loop, then after the array of promises has been built do the Promise.all(promise)

[2021-03-17 15:41] Loganwebb1994 commented on #142
Im on the right track now

[2021-03-17 15:41] #142 closed, assigned to nobody

[2021-03-17 15:43] Scott47 commented on #140
Same error @jakefroeb @jisie We will need some help with this issue.

[2021-03-17 15:45] notdanross commented on #139
@jakefroeb this api is actually the basis of my capstone, so I will need a working solution relatively early in the development process. I had the same thought of hard-coding what values to exclude, but I wanted a solution that would work for a very large object.
Modifying the data wasn't a good option, as that would involve changing an existing 123 objects with those key-value pairs. I also need

[2021-03-17 16:13] #143 closed, assigned to nobody

[2021-03-17 16:36] powellmad commented on #143
Once I wrapped <LightSide /> in <Router> and imported "BrowserRouter", the errors resolved.

[2021-03-17 16:37] daprieu opened #144 "Passing "searchTerms" to api"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Alex Prieu
#### Breakout Room: N/A

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ x] Added to `c46 Help-Thread` project board
- [x ] Added the `Blocker` label if this is stoping you f

[2021-03-17 16:54] Scott47 commented on #128
reinstalled extension for VSCode to launch from the command https://code.visualstudio.com/docs/setup/mac

[2021-03-17 16:54] #128 closed, assigned to nobody

[2021-03-17 17:25] Scott47 commented on #144
@daprieu Will you please paste the link to the code in your repo?

[2021-03-17 17:34] daprieu commented on #144
I updated the ticket with two links (one for my provider and the other where I am using searchTerms to filter the data)
I just had a thought that the .filter with searchterms is just filtering data that is already available so I know I will need to refactor that code. Because what I really want is to pass a search term to the api url query and get back that specific  query search data.

[2021-03-17 17:35] Scott47 commented on #144
@daprieu You have defined your `getSearchablePlants()` function to take a name as a parameter in your provider, but you are not passing it anything in your searchList component. https://github.com/daprieu/Backyard-Botanist/blob/3de215e28b89296ea84815b9a28db431853dcb68/src/components/searchPlants/SearchPlantList.js#L13

[2021-03-17 17:52] nathanRomad opened #145 "Structuring Modules / Testing [QUICK ISSUE]"
#### Name:  Nathan
#### Breakout Room: Nathan

#### REQUIRED Question or issue:

I also have a second question about calling components to render for testing at this stage..

Both, I believe are quick issues.

#### REQUIRED Check all that apply:
- [X] Rubber Ducking
- [X] Direction/Guidance
- [X!!] Check In (Pep talk, vent session, etc.)

#### Code Snippet
This is my homepage view or 'Home', I was

[2021-03-17 17:58] Scott47 commented on #144
whoops @daprieu . Realizing now that your issue is the problem I am describing here 🤦 . I'll come see you after stand up.

[2021-03-17 19:06] daprieu commented on #144
Solved! (for the most part - weird issue marginally related)

In my code I was trying to use .filter to filter my api data based on searchTerms.
In reality when adding searchTerms to my API call it was already filtering the data.
I removed the .filter portion in the second useEffect and added searchTerms to the the getSearchablePlants() in the first useEffect.

[2021-03-17 19:06] #144 closed, assigned to nobody

[2021-03-17 19:18] Thomas88s opened #146 "Having a routing issue"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name:Thomas Witherow
#### Breakout Room: Thomas Witherow

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ x] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this i

[2021-03-17 19:20] powellmad opened #147 "Rendering a single random object from the api"
#### Name: Madison
#### Breakout Room:

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [x] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet - The Methods I Just Tried:

[code]
I know this logic doesn't work because quotes is not set until the fetch call, but the function is within the fetch call.

[code]
I think I nee

[2021-03-17 19:27] powellmad commented on #147
I know this logic doesn't work because quotes is not set until the fetch call, but the function is within the fetch call.

[2021-03-17 19:30] Loganwebb1994 opened #148 "I have a quick question about my fetch call"
#### Name: Logan
#### Breakout Room: My Room

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [x] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-17 19:32] ajawashington commented on #146
@Thomas88s in your imports looks like you need to go out one more level to get access to the AppViews.

[2021-03-17 19:34] #139 closed, assigned to nobody

[2021-03-17 19:35] powellmad commented on #147
I'm thinking inside the quotes.map I need to put a .find to get the quote with the same id and the random number

[2021-03-17 19:36] blusanders opened #149 "onClick function is not defined no-undef"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Blu Sanders
#### Breakout Room: Blu

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping you fro

[2021-03-17 19:36] notdanross commented on #139
Solution:

- I set one useEffect to get the needed data
- I set another useEffect with a dependency array set by first useEffect
- Inside the second useEffect, an ```if``` statement double-checks the dependency array, then filters the desired data and sets a state variable.

[2021-03-17 19:37] kylieanyce opened #150 "getting menu nav bar with material UI to work with Links"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Kylie
#### Breakout Room: Strong Female Lead

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping

[2021-03-17 19:42] Thomas88s commented on #146
It was a basic routing issue caused by syntax errors.  This probably could have been avoided if I had taken more breaks today.

[2021-03-17 19:43] #146 closed, assigned to Thomas88s

[2021-03-17 19:45] powellmad commented on #147
Tried this and the .find is undefined

[code]

[2021-03-17 19:57] blusanders commented on #149
Per Aja:

I had placed my function in the middle of another function which was preventing it from being properly used. Silly mistake.

Then we discovered I had two buttons and both were submitting my form which I did not want to happen. Two things can prevent this:

1 - First was to move the button outside of the form, but had to wrap everything in a div to make that work.
2 - After Aja helped me

[2021-03-17 19:57] #149 closed, assigned to blusanders

[2021-03-17 20:05] nathanRomad commented on #145
Kudos to @Scott47!!
I appreciate the guidance, direction, and positivity!
My questions regarding structure and testing are answered.
Thank you!

[2021-03-17 20:05] #145 closed, assigned to nathanRomad

[2021-03-17 20:13] kylieanyce commented on #150
I'm just not going to use material UI until later maybe.

[2021-03-17 20:13] #150 closed, assigned to nobody

[2021-03-17 20:13] peytonkemp opened #151 "React bootstrap [QUICK ISSUE]"
#### Name:  Peyton
#### Breakout Room:  Peyton

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-17 20:21] Scott47 commented on #148
changed fetch to `/userstands?_expand=user&_expand=stand`

[2021-03-17 20:27] powellmad commented on #147
I had redundant code that was throwing up a string of errors. I didn't need to map through quotes because randomQuoteId was doing that for me. Once I got a random id, I just had to call QuoteCard and pass in the random id.

[code]

[2021-03-17 20:33] KaitlinJKelley commented on #140
Had to refactor a very long chain of .thens and have to re-consider when to call the function because my API appears to have a rate limit.
Thanks @jisie for saving me from .then hell!

[2021-03-17 20:34] #140 closed, assigned to nobody

[2021-03-17 20:44] jakefroeb opened #152 "MY state isnt updating!!!!"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name:Jake
#### Breakout Room: Jake

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping you from movin

[2021-03-17 20:45] jakefroeb commented on #152
I know the console.log right under setting state may not trigger, but the main issue is that when i am creating duelMatches all of the duelIds are still 0 so i know it is never changing state

[2021-03-17 21:05] powellmad commented on #147
I added and committed these changes and merged it with main. No changes were made and no merge conflicts appeared on the pull request, but this code is now broken again ?

[2021-03-17 21:26] jakefroeb commented on #152
Solved the problem Having two instances of the provider in my homepage was making state act weird where it was updating state in one instance but not the other.... putting botch components under the same instance of the provider solved the issue

[2021-03-17 21:26] #152 closed, assigned to nobody

[2021-03-18 00:31] blusanders opened #153 "[QUICK ISSUE] Page rendering"
#### Name: Blu
#### Breakout Room: None currently

#### REQUIRED Question or issue:

This is a general question about my structure. Attaching a screenshot.

The way I am laying out my page/components is left/right and two sections are rendering on the page. I have a list of data on the left and a content-ish container on the right where the CRUD forms go. This is the same for two of the nav sectio

[2021-03-18 13:17] blusanders commented on #153
I had a dream that I fixed this but sadly woke up this morning and realized it was but a dream :(

[2021-03-18 14:15] blusanders opened #154 "[QUICK ISSUE] Child Key Error - doesn't seem to be affecting app"
#### Name: Blu Sanders
#### Breakout Room: Blu

#### REQUIRED Question or issue:

I'm getting the prop/key error in the console but am not sure what it's referring to and it doesn't seem to be affecting my app at all.
index.js:1 Warning: Each child in a list should have a unique "key" prop.

#### REQUIRED Check all that apply:
- [x] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk,

[2021-03-18 14:29] Scott47 commented on #154
@blusanders This is a warning. You can put a key prop on the div that doesn't have one or ignore.

[2021-03-18 14:30] Scott47 commented on #151
@peytonkemp Is this resolved?

[2021-03-18 14:51] SubtleCo opened #155 "[QUICK ISSUE] ERD additions"
#### Name: Alex M
#### Breakout Room: Alex M

#### REQUIRED Question or issue:

[ERD issue ticket](https://github.com/SubtleCo/TipHat/issues/41)

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

[2021-03-18 14:59] Loganwebb1994 commented on #148
I thought I was good. I just need to talk to someone about how to fetch my data

[2021-03-18 15:10] blusanders commented on #154
Copy that. Thank you. Just couldn't find it but I'll look for rogue div. That makes sense.

[2021-03-18 15:10] #154 closed, assigned to blusanders

[2021-03-18 15:26] emilycentko opened #156 "Talking through List component setup"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Emily
#### Breakout Room: Emily

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping you from mo

[2021-03-18 15:40] kylieanyce opened #157 "React server runs but shows nothing on DOM with no errors"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Kylie
#### Breakout Room: Strong Female Lead

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping

[2021-03-18 15:40] #148 closed, assigned to nobody

[2021-03-18 16:19] kylieanyce commented on #157
I was redirecting a non-logged in user to the login page but without having any thing called there, so it showed a blank screen.

[2021-03-18 16:19] #157 closed, assigned to nobody

[2021-03-18 16:23] ajawashington commented on #147
Need to add a conditional on card so that it doesn't break on first render. `{quote?.mastertext}`

[2021-03-18 16:23] #147 closed, assigned to powellmad

[2021-03-18 16:24] ajawashington commented on #155
@SubtleCo Hit up your mentor and get your ERD approval from them!

edited: GREAT issue ticket as well!

[2021-03-18 16:26] SubtleCo commented on #155
@ajawashington @jisie asked me to open a ticket here to reminder her

[2021-03-18 16:26] Loganwebb1994 opened #158 "[QUICK ISSUE]"
#### Name: Logan
#### Breakout Room: Logan

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [x] Rubber Ducking
- [x] Direction/Guidance
- [x] Check In (Pep talk, vent session, etc.)

#### Code Snippet
This is how im trying to pull in the note that is associated with each stands but I dont know where to go from here, Or if this is even how I should be doing it. It's showing

[2021-03-18 16:29] ajawashington commented on #155
@SubtleCo Oh okay cool! Sorry I closed it 👀

[2021-03-18 16:32] Younique98 opened #159 "Erd Change [QUICK ISSUE]"
#### Name: Erica Thompson
#### Breakout Room: Erica

#### REQUIRED Question or issue:

I have made changes to my database.json
#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x ] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet
https://github.com/Younique98/the-magical-witch/blob/16da1fffe857826bb1f316102598f929b010595c/the-magic-witch-api/database.js

[2021-03-18 16:44] Younique98 opened #160 "trying to render a dropdown bar and the info when clicked"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Erica Thompson
#### Breakout Room: Erica

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x ] Added to `c46 Help-Thread` project board
- [ x] Added the `Blocker` label if this is stoping

[2021-03-18 16:55] #155 closed, assigned to nobody

[2021-03-18 18:21] Thomas88s opened #161 "App not displaying"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name:Thomas Witherow
#### Breakout Room: Thomas Witherow

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ x] Added to `c46 Help-Thread` project board
- [x ] Added the `Blocker` label if this

[2021-03-18 18:21] #151 closed, assigned to nobody

[2021-03-18 18:25] ajawashington commented on #161
@Thomas88s on this lline https://github.com/Thomas88s/AroundAgainRecords/blob/d7e4dbdd3498689143b71e2f6f7be51acf0cc794/src/index.js#L9

you need a Router to be wrapped around your `<Store/>`

Example

`ReactDOM.render(`
`<React.StrictMode>`
`<Router>`
` <Store />`
`<Router/>`
  `</React.StrictMode>,`
 ` document.getElementById('root')`
`);`

make sure to `import { BrowserRouter as Router } from "r

[2021-03-18 18:30] ajawashington commented on #161
@Thomas88s also want to make sure your `<Store/>` component includes your Application Views as well since that is where your app is going.

[2021-03-18 18:32] Scott47 commented on #161
Also @Thomas88s did you install react-router-dom with `npm install --save react-router-dom`

[2021-03-18 18:32] Thomas88s commented on #161
It includes the appViews. Ive been having issues with the route too , ive tried it a few times and it throws errors.

[2021-03-18 18:34] Thomas88s commented on #161
ill try the npm. I ve been having a lot more trouble than i think i should be. i did this stuff last week with no trouble

[2021-03-18 18:35] Scott47 commented on #161
You have to install the react-router-dom package to use Routes

[2021-03-18 18:55] Scott47 commented on #161
Resolved by installing react-router-dom package

[2021-03-18 18:55] #161 closed, assigned to nobody

[2021-03-18 19:11] #159 closed, assigned to nobody

[2021-03-18 19:16] jisie commented on #160
@Younique98 is the process of refactoring her code based on changes to the ERD. Please reach out when you are ready to tackle this issue.

[2021-03-18 19:32] jisie commented on #141
Possible solution in the process of being tested. @phillipphan, please reach out if you continue to see the same error.

[2021-03-18 19:37] AndreaMays opened #162 "[QUICK ISSUE]"
#### Name:
#### Breakout Room: Drea Nichole

#### REQUIRED Question or issue: Just been stuck all day trying to think through the best way to make things comet together.

#### REQUIRED Check all that apply:
- [ X] Rubber Ducking
- [X ] Direction/Guidance
- [X ] Check In (Pep talk, vent session, etc.)

#### Code Snippet
No Errors
[code]

[2021-03-18 19:52] #158 closed, assigned to nobody

[2021-03-18 20:05] SubtleCo opened #163 "[QUICK ISSUE] - Including Join Table calls in other providers"
#### Name: Alex M
#### Breakout Room: Alex M

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

[2021-03-18 20:11] daprieu opened #164 "[QUICK ISSUE]"
#### Name:Alex Prieu
#### Breakout Room:

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x ] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-18 20:31] nathanRomad opened #165 "Code walkthrough"
#### Name: Nathan
#### Breakout Room: READ

#### REQUIRED Question or issue:

Just a quick rubber duck to see if I have proper understanding would be helpful.

#### REQUIRED Check all that apply:
- [X] Rubber Ducking
- [X] Direction/Guidance
- [X] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-18 20:39] SubtleCo commented on #164
@daprieu Oh you're gonna love this. A post in a fetch request returns the object on success.

I.e.
[code]

At least I hope that's what you were asking because when I realized this I was so excited

[2021-03-18 20:41] emilycentko commented on #156
Updated fetch call for watch lists to embed watchListMovies, which contains array of movies, to then map over watchLists and grab the data associated with movies from the join table:

[code]

[2021-03-18 20:41] #156 closed, assigned to nobody

[2021-03-18 21:16] daprieu commented on #164
Thanks @SubtleCo!!! I will use this in the future but turns out I did not need to get data this way.

[2021-03-18 21:16] #164 closed, assigned to nobody

[2021-03-18 21:24] #162 closed, assigned to nobody

[2021-03-19 14:08] SubtleCo commented on #163
@jisie says it makes most sense to make a separate provider / context, but no need for a separate directory.

[2021-03-19 14:08] #163 closed, assigned to nobody

[2021-03-19 14:25] kylieanyce opened #166 "Same image brings back different data from fetch call, think it's a timing issue?"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: kylie
#### Breakout Room: main room

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stopping you fro

[2021-03-19 15:06] phillip-phan-imprivata commented on #141
Instead of using the "map" method, I switched it to a "reduce" method that iterates through each promise and completes it before moving on to the next one. I believe the error came from the "map" method moving on to the next item in the array before the promise was fulfilled. No errors so far, but it may not be a permanent solution.

[2021-03-19 15:06] #141 closed, assigned to nobody

[2021-03-19 15:07] TrentSisson opened #167 "[QUICK ISSUE]"
#### Name:
#### Breakout Room: Trent

#### REQUIRED Question or issue: I need help organizing my thoughts and to come up with a good step by step game plan for the day. I am kinda lost about what issue I should tackle next. I need some guidance.

#### REQUIRED Check all that apply:
- [x] Rubber Ducking
- [x] Direction/Guidance
- [x] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code

[2021-03-19 15:24] jisie commented on #160
@Younique98 I don't know if this is still an issue that you are seeing. If it's not, can you please close it? You can reopen it if you encounter it again.

[2021-03-19 15:34] SLLittrell opened #168 "Split Method on String"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Stacey Littrell
#### Breakout Room: Stacey

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping

[2021-03-19 15:52] TrentSisson commented on #167
thank you for the rubber duck Aja! I feel better!

[2021-03-19 15:52] #167 closed, assigned to nobody

[2021-03-19 15:59] morriscodez opened #169 "Adding Workout Videos to Workouts"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Dylan
#### Breakout Room: Dylan's Dojo

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping you

[2021-03-19 16:08] morriscodez commented on #169
Further clarification:

I am not sure whether to build the function to add this workout video to the join table right here on the card component or in a separate component and import it and call it at this spot in the card component.

I want to follow single responsibility, but if I build it separately how do I pass the values through props?

[2021-03-19 16:27] nathanRomad commented on #165
I feel like I have a better grasp on useEffect.
I have my form loading, saving, clearing when saved...
I am working on building a detail component to handle the edit and delete functionality
---- I would still love a rubber duck before the weekend if possible!!

[2021-03-19 16:33] AndreaMays opened #170 "[QUICK ISSUE]"
#### Name: Drea N
#### Breakout Room: Drea Nichole

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ X] Rubber Ducking
- [ X] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]
export const GroceryCard = ({ menu }) => (

  <>

<CardDeck>
   <Card className="groceryCard" style={{ width: '18rem'}}>
    {/* <Card.Img variant="bottom" s

[2021-03-19 16:34] SLLittrell commented on #168
The split() was dependent on the correct placement of a ? after key "." notation.

[2021-03-19 16:34] #168 closed, assigned to nobody

[2021-03-19 16:44] AndreaMays commented on #170
Never mind. Just figured it out :-)

[2021-03-19 16:44] #170 closed, assigned to nobody

[2021-03-19 16:50] SubtleCo opened #171 "Making multiple fetch requests simultaneously"
#### Name: Alex M
#### Breakout Room: Alex M

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes - related to #140 and #141
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping you from moving forward

#### REQUIRED Describe your

[2021-03-19 16:53] peytonkemp opened #172 "gameplan talk [QUICK ISSUE]"
#### Name: Peyton
#### Breakout Room: Peyton

#### REQUIRED Question or issue:

I would love to spend a little time talking through what I want, and some help coming up with a bit of a gameplan on how I should attack it.

#### REQUIRED Check all that apply:
- [x] Rubber Ducking
- [x] Direction/Guidance
- [x] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-19 17:03] nathanRomad commented on #165
I was able to walkthrough some of my code with friends!

[2021-03-19 17:03] #165 closed, assigned to nathanRomad

[2021-03-19 17:09] jisie commented on #171
@SubtleCo I have two suggestions for you to try.

1. Try restarting your json-server without the `-w` flag so `json-sever -p 8088` and see if your requests still fail.
1. Your loop just creates the fetch calls and and you use a `Promise.all()` to execute the fetch calls.

Let me know if either solution works!

[2021-03-19 17:10] dtracydepp opened #173 "getIdby fetch call is returning undefined for the id"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Tracy
#### Breakout Room: Tracy

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping you from m

[2021-03-19 17:20] jisie commented on #173
@dtracydepp This is the route in `ApplicationViews`:

[code]

Your route is not defined to include a parameter. But in your `FriendSelect` you are using `useParams()` to try to grab a parameter, `friendId` from the URL and eventually pass this to your `getFriendById`.

[2021-03-19 17:21] samj0516 opened #174 "Putting data from external api fetch call in a state variable"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Samantha
#### Breakout Room: Strong Female Lead

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is sto

[2021-03-19 17:25] dtracydepp commented on #173
I added one and it made everything disappear and no errors and my console log stopped working so I deleted it to take it back to this point to do the issue ticket. but maybe I did something else wrong. I’ll try it again after lunch with fresh eyes.

[2021-03-19 17:28] Younique98 opened #175 "[Quick Issue] I would like to walk through the next step for nav bar"
#### Name: Erica
#### Breakout Room:
Erica
#### REQUIRED Question or issue:

I would like to walk through how to link localhost:3000 to my NavBar which I will be reconfiguring to look like my Figma.
This will be changed to Home, Horoscope Notes, Tarot Notes, Login, SIgnup
#### REQUIRED Check all that apply:
- [x ] Rubber Ducking
- [x ] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc

[2021-03-19 17:43] SubtleCo commented on #171
BEAUTIFUL, removing the watch flag works. Thanks!

[2021-03-19 17:49] #171 closed, assigned to nobody

[2021-03-19 18:20] Thomas88s opened #176 "Several issues inclunding git, broken code, guidance needed"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name:Thomas Witherow
#### Breakout Room: Thomas

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ x] Added to `c46 Help-Thread` project board
- [x ] Added the `Blocker` label if this is stoping

[2021-03-19 18:21] KaitlinJKelley opened #177 "Low Priority; just curious. setting state does not trigger the useEffect that is dependent on the state variable"
#### Name: Kaitlin
#### Breakout Room:

#### REQUIRED Question or issue:

There is a useEffect watching isComplete that should be triggered to check conditions and invoke a function. However, after state is set the useEffect is not triggered and I don't know why.
I changed the way I'm doing this so the new code works and I don't have to have this working, but I would like to know if I'm thinking a

[2021-03-19 18:28] KaitlinJKelley commented on #177
Nick said that when he added routeToEdit to the dependency array with isComplete, the code started working, but he wasn't sure why
https://github.com/kjk1325/all-clear/blob/99f1f8d5fef3f7d768a5970bf3b5a60b384621df/src/components/routes/RouteCard.js#L103-L147

[2021-03-19 19:10] ajawashington commented on #169
@dylanmorris51 I am closing this for now for you to try the things we talked about. Feel free to reopen if you still have issues.

[2021-03-19 19:10] #169 closed, assigned to nobody

[2021-03-19 19:17] #172 closed, assigned to nobody

[2021-03-19 19:24] Scott47 commented on #175
@Younique98 Sent you DM on slack. Let me know if you still want to talk through this and I'll meet you in my instructor room

[2021-03-19 19:29] Loganwebb1994 opened #178 "my first post request sends 7 opjects to the db, then after that it works like it should"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Logan Webb
#### Breakout Room: Hackery

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping you

[2021-03-19 19:30] samj0516 commented on #174
I had a breakthrough!!! The data now goes into my state variable! Now I am trying to figure out how to access the data inside, as it's an object in object. Working on it now. I'm stoked to get it in my state variable now but still need a little help.

[2021-03-19 19:43] jisie commented on #171
@SubtleCo The disadvantage of running json-server without the watch flag is that if you manually edit the json file, it won't pick the changes. So make sure to re start the server if you change the file through an editor.

[2021-03-19 19:44] SubtleCo commented on #171
@jisie haha, oh trust me - I learned that the hard way!

[2021-03-19 19:46] emilycentko opened #179 "Search in form component trying to get data from API"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Emily
#### Breakout Room: Emily

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping you from mo

[2021-03-19 19:58] jashah46 opened #180 "Error in Terminal: Not a Git Repository"
#### Name:
#### Breakout Room:

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [X] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-19 20:16] notdanross opened #181 "Button with multiple responsibilities or duplicate code?"
#### Name: Dan Ross
#### Breakout Room: Strong Female Lead

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-19 20:18] emilycentko commented on #179
Update: was missing a closing ))} in line 72 so syntax error fixed, now having trouble with new state.

[2021-03-19 20:21] #175 closed, assigned to nobody

[2021-03-19 20:21] #160 closed, assigned to nobody

[2021-03-19 20:26] samj0516 commented on #174
[code]
I was able to get the data to go into my state variable. I think it was going in it the whole time I just couldn't figure out where to console log it to show. Trying to console log my state variable immediately after setting it didn't work. Jisie helped me destructure the object because the data that came back was nested inside another object with a dumb key!

[2021-03-19 20:26] #174 closed, assigned to nobody

[2021-03-19 20:28] Scott47 commented on #176
made sure we were selecting correct id for record, added auth for currentUserId

[2021-03-19 20:28] #176 closed, assigned to Thomas88s

[2021-03-19 20:32] powellmad opened #182 "[QUICK ISSUE] Stuck and need some guidance moving forward"
#### Name: Madison
#### Breakout Room: Madison

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [x] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-19 20:45] #180 closed, assigned to nobody

[2021-03-19 20:50] #173 closed, assigned to nobody

[2021-03-19 20:52] notdanross commented on #181
SOLUTION:

A ternary is appropriate, as long as it changes the entire BUTTON, not just the function that is called or the display text.

[2021-03-19 20:52] #181 closed, assigned to nobody

[2021-03-19 20:52] dtracydepp commented on #173
1. I didn’t have my route wrapped and what Jisie said
2. I skipped steps and had to backtrack before I need to getFriendsbyID

[2021-03-19 20:55] nicoletatum opened #183 "push in right direction(many to many tables)"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name:Nicole Tatum
#### Breakout Room:

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [X] Added to `c46 Help-Thread` project board
- [] Added the `Blocker` label if this is stoping you from mov

[2021-03-19 20:57] Thomas88s opened #184 "[QUICK ISSUE] Having git conflict issues"
#### Name:Thomas
#### Breakout Room:Thomas

#### REQUIRED Question or issue:

was able to merge in git with no issues but when i tried to pull main it created conflicts

#### REQUIRED Check all that apply:
- [ x] Rubber Ducking
- [ x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-19 21:57] Loganwebb1994 commented on #178
We moved a use state out of the function call and built my join object in a conditional instead of in the return of the function.

[2021-03-19 21:57] #178 closed, assigned to nobody

[2021-03-19 22:28] emilycentko commented on #179
Didn't need an extra useEffect on MovieForm since my 3rd party API was already providing a fuzzy search for me. Replaced my current search call with searchMovie call onKeyUp in MovieSearch function, which fetches the search query provided by API documentation. Then mapped through filteredMovies when searched to render image/image path URL property per object.

[2021-03-19 22:28] #179 closed, assigned to nobody

[2021-03-20 01:28] phillip-phan-imprivata commented on #141
This fix only made the POST more consistent, but I still got errors if I used a bigger array than the one I was testing with.

My new solution is to put this code into the provider:
[code]
I call this function whenever I need to make fetch calls while iterating through an array so that there is time in between each call.

[2021-03-20 02:40] kylieanyce commented on #166
Used this conditional to prevent error message when similar_images array isn't retrieved from API call. This way the image simply is not displayed if it isn't there.

[code]

[2021-03-20 02:40] #166 closed, assigned to nobody

[2021-03-22 14:56] Thomas88s commented on #184
I had some commits on main that weren't intentional. Was able to pull my correct main down from git and now merging with no conflicts is possible.

[2021-03-22 14:56] #184 closed, assigned to Thomas88s

[2021-03-22 15:07] peytonkemp opened #185 "Edit button is saving a new round card rather than editing that card"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Peyton
#### Breakout Room: Peyton

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping you from

[2021-03-22 15:41] Scott47 commented on #183
needed to import `getTools()` and `tools` from `ToolProvider.js` to be able to map through the tools array and populate the dropdown for the projects form.

[2021-03-22 15:41] #183 closed, assigned to nobody

[2021-03-22 15:44] peytonkemp opened #186 "Selecting course from dropdown returns value of 0. I need the course Id"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Peyton
#### Breakout Room: Peyton

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping you from

[2021-03-22 15:47] Loganwebb1994 opened #187 "Notes not rendering on DOM"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Logan
#### Breakout Room: The Hackery

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [] Added the `Blocker` label if this is stoping you fr

[2021-03-22 15:50] AndreaMays opened #188 "Error and ERD"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Drea
#### Breakout Room: Drea N.

#### Have you searched the other issue tickets? If not, do that first.
- [ X] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [X ] Added to `c46 Help-Thread` project board
- [ X] Added the `Blocker` label if this is stoping you fro

[2021-03-22 16:12] Loganwebb1994 commented on #187
[code]
updated code, still not working. My filter isnt returning anything

[2021-03-22 16:14] powellmad opened #189 "Need to grab the id of the quote currently rendered when the "add note" button is clicked"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Madison
#### Breakout Room:

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping you from moving

[2021-03-22 16:25] TrentSisson opened #190 "Need to Grab EmployeeId fo Join table"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Trent Sisson
#### Breakout Room: Phillip Phan

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stopi

[2021-03-22 16:28] Loganwebb1994 commented on #187
My issue was that I was trying to pass in an array of multiple objects as an argument. Once I mapped through that array and accessed the individual objects the notes rendered.

[2021-03-22 16:28] #187 closed, assigned to nobody

[2021-03-22 16:30] AndreaMays commented on #188
Answer: Syntax error, there is no parenthesis after the comma.
return fetch ("http://localhost:8088/products", {
})

[2021-03-22 16:30] #188 closed, assigned to nobody

[2021-03-22 16:45] Loganwebb1994 opened #191 "Not sure how to pull join table back to patch in note"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Logan
#### Breakout Room: The hackery

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping you f

[2021-03-22 17:01] Scott47 commented on #186
add value, name, id attributes on select element. Added key prop to option.

[2021-03-22 17:01] #186 closed, assigned to nobody

[2021-03-22 17:08] Thomas88s opened #192 "Objects are able to be seen by specific user but create function is no longer working"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name:Thomas Witherow
#### Breakout Room:
Thomas
#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ x] Added to `c46 Help-Thread` project board
- [x ] Added the `Blocker` label if this is stoping

[2021-03-22 17:10] Scott47 commented on #185
@peytonkemp Change your route in application views to `exact path="/edit/:roundId(\d+)`.  This will get you to the correct route. Now, you are going to edit/:roundId for add round and edit round.

[2021-03-22 17:26] #182 closed, assigned to nobody

[2021-03-22 17:26] #189 closed, assigned to nobody

[2021-03-22 17:49] emilycentko opened #193 "Join table data and grabbing data from API to add and save in form"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Emily
#### Breakout Room: Emily

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping you from mo

[2021-03-22 18:07] calebsjames opened #194 "Checkboxes reflecting correct value in edit, and when unchecked."
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Caleb James
#### Breakout Room: Caleb

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping you f

[2021-03-22 18:11] AndreaMays opened #195 "[QUICK ISSUE] Needing direction"
#### Name: Drea N
#### Breakout Room: Drea Nichole

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [ X] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-22 18:12] morriscodez opened #196 "Card.js component not rendering from list component"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Dylan
#### Breakout Room: Dylan's Dojo

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping you

[2021-03-22 18:36] peytonkemp commented on #185
@Scott47 I changed the application views to include `exact path="/edit/:roundId(\d+)` but changing the history.push wasn't getting to me where I wanted

[2021-03-22 18:41] bpotts11 opened #197 "Having an issue updating state"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Brittney Potts
#### Breakout Room: Strong Female Lead

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
- [x] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this i

[2021-03-22 19:05] Thomas88s commented on #192
When using my filter(), to match my records with current user, the userId it was looking for didnt match the usertID  in the API.

[2021-03-22 19:05] #192 closed, assigned to nobody

[2021-03-22 19:05] morriscodez commented on #196
Solved:

Added missing ```return``` statement inside .map

[2021-03-22 19:05] #196 closed, assigned to nobody

[2021-03-22 19:08] peytonkemp commented on #185
@Scott47 Also, I am getting a "PUT 400 (Bad Request)" error whenever I click my Edit Round button

[2021-03-22 19:16] dtracydepp opened #198 "[QUICK ISSUE] Need Direction, Feel Stuck"
#### Name: Tracy
#### Breakout Room: Tracy

#### REQUIRED Question or issue: Stuck on understanding handleControlledInputChange

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [X ] Direction/Guidance
- [X ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-22 19:27] #191 closed, assigned to nobody

[2021-03-22 19:33] Loganwebb1994 opened #199 "Maximum update depth exceeded."
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Logan
#### Breakout Room: mine

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping you from mov

[2021-03-22 19:40] Loganwebb1994 commented on #199
Also My page goes straight to my /available-stands path instead of defaulting to /

[2021-03-22 19:50] Thomas88s opened #200 "[QUICK ISSUE]"
#### Name:Thomas Witherow
#### Breakout Room:Thomas

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [x] Direction/Guidance
- [ ] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-22 20:08] calebsjames commented on #194
My first attempt with this I used `value={inspection.mainDBag}` when I should have been using `checked={inspection.mainDBag}`

I also needed a new handleInput function that instead of targeting the value, targets "checked"
`let selectedVal = event.target.checked`

[2021-03-22 20:08] #194 closed, assigned to nobody

[2021-03-22 20:22] #197 closed, assigned to nobody

[2021-03-22 20:29] bpotts11 commented on #197
With throwOrder being in the throwObj state, I was resetting the throwOrder every time along with the throws on the form. To fix this, a variable was created to store the thowOrder value and creating the key value pair from there instead.

[2021-03-22 20:33] blusanders commented on #153
Is what I'm wanting to do nesting?

https://reactrouter.com/web/example/nesting

[2021-03-22 20:58] Younique98 opened #201 "Data is no longer rendering to the SignHoroscope.js"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Erica Thompson
#### Breakout Room: Erica

#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ x] Added to `c46 Help-Thread` project board
- [x ] Added the `Blocker` label if this is stoping

[2021-03-22 21:07] emilycentko commented on #193
@nch66862 helped me out on this one! My search component is a child of the form and I can't grab data upwards from my search. Created new movieId and moviePoster state variables to set the initial state and grab the id and value I needed from my API when button is clicked in the form. Refactored handleControlledInputChange functions and also utilized getSearchedMovieById in two useEffects to grab

[2021-03-22 21:07] #193 closed, assigned to nobody

[2021-03-22 21:07] Thomas88s commented on #200
I ended up just making a separate card and list component. They pull info from existing components, so there is no need to alter the ERD.

[2021-03-22 21:07] #200 closed, assigned to nobody

[2021-03-22 21:31] Loganwebb1994 commented on #199
you need () => before the history.push()

[2021-03-22 22:58] Scott47 commented on #185
@peytonkemp change `getRoundById()` to take `roundId` as a parameter and change the url int the fetch from `http://localhost:8088/rounds/edit/${round.id}` to `http://localhost:8088/rounds/${roundId}`.

Next, in `RoundForm.js`, use the `roundId` you are getting via params in your route to pass to the `getRoundById()` function in your `useEffect()`.
[code]

Once you make these changes, your form wil

[2021-03-22 22:59] #199 closed, assigned to nobody

[2021-03-23 15:03] Loganwebb1994 opened #202 "Im having trouble getting my data to pull at first render"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Logan Webb
#### Breakout Room: Strong female lead probably

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if

[2021-03-23 15:08] jakefroeb commented on #202
maybe try switching the order of your get functions in your useEffect?

[2021-03-23 15:13] Loganwebb1994 commented on #202
I'll try that, thanks jake!

[2021-03-23 15:16] Loganwebb1994 commented on #202
Nawp.. Same thing happened.

[2021-03-23 15:18] bpotts11 opened #203 "confused on useParams"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Brittney Potts
#### Breakout Room: Strong Female Leads

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board
- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this

[2021-03-23 15:18] peytonkemp commented on #185
My updated round object is successfully being PUT in the database, BUT I cannot figure out why i’m not returning to the previous url after saving. It feels like I’ve tried everything I can with the `history.push`.  Right now I have `.then(() => history.push("/"))` and I feel like that should take me back to localhost:3000.  What am I missing?

[2021-03-23 15:24] SLLittrell opened #204 "Editing unable to change value"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Stacey Littrell
#### Breakout Room: Stacey

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping

[2021-03-23 15:51] Loganwebb1994 commented on #202
I cant move forward until this issue is resolved. The notes feature is dependant on the user being currently checked into the stand.

[2021-03-23 15:54] emilycentko opened #205 "Undefined parameter error when trying to delete"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Emily
#### Breakout Room: Emily

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping you from mo

[2021-03-23 16:02] jakefroeb commented on #205
your function handleDelete takes two parameters watchListMovie and watchList, but when you call the function onClick you are only passing in one, watchListId.... which isnt even used in your function so i would take a step back and ask yourself what information do i need in this function and then give the function that data in the parameters

[2021-03-23 16:46] SLLittrell opened #206 "Link changes url, but does not trigger a render"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name:Stacey Littrell
#### Breakout Room: Stacey

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [ ] Added to `c46 Help-Thread` project board
- [ ] Added the `Blocker` label if this is stoping y

[2021-03-23 17:13] emilycentko commented on #205
@jakefroeb I also tried plugging in both parameters into the function. I need to delete both the 1 watch list object as well as the array of watchlistmovie objects associated with that watch list. I wasn't sure if I needed two separate fetch calls to handle in the delete to be able to delete the appropriate data on click? I've tried quite a few things and it keeps coming up as undefined, so I'm no

[2021-03-23 17:18] jisie commented on #204
@SLLittrell You have two state variables you seem to be try to be using. `garden` and `gardens`. You are using both and you need to stick to using the same state variable. If this is a form to add/edit a garden, then use `garden`.

This means on the input fields, you need for example `value={garden.name}`. And your `useEffect` that pre-populates the form needs to use the same state variable: `setG

[2021-03-23 17:23] jisie commented on #205
@emilycentko json-server will do cascade delete for you. That means you only need to delete a watchlist and it will delete all items from the join table with that watch list id for you. So all you need is the HTTP DELETE fetch call to delete the watch list.

Deleting a movie from the watchlist (without deleting the watchlist itself) is a separate feature and should not be combined with deleting a

[2021-03-23 17:26] Scott47 commented on #185
@peytonkemp Will you post a link to the current code on the branch you're workin on?

[2021-03-23 17:27] jisie commented on #206
@SLLittrell Can you reply and tell us what the url looks like? Also use your components tab in your dev tools to see if the `<PlantDetails />` component is being rendered at all.

[2021-03-23 17:41] Scott47 commented on #185
@peytonkemp uncomment the `event.preventDefault()` on your button in your `Roundform` component.

[2021-03-23 17:45] #185 closed, assigned to nobody

[2021-03-23 17:50] Scott47 commented on #204
@SLLittrell I see you closed this. Was it resolved? Was ☝️ the solution?

[2021-03-23 17:51] SLLittrell commented on #204
Changed to only use one state variable in the garden edit form. This solved the warning when initial values are rendered in input fields.

[2021-03-23 17:51] #204 closed, assigned to nobody

[2021-03-23 17:59] SLLittrell commented on #206
The link is using an id # from a plant that matches the name of a helper plant. When the link is clicked the url changes to:

http://localhost:3000/plants/details/37
37 being the id of the tomato plants details page.

When navigating to tomatoes from the plant list component this renders fine, and even if I refresh the page after the link is clicked it will route to the correct details page.

[2021-03-23 18:08] Scott47 commented on #202
@Loganwebb1994 In your `StandProvider.js`, your `reserveStand` fetch is a POST method and has `.then(setUserStands)`. Because this is a POST, you are setting `userStands` as an object. `.filter()` is an array method, so that is why you are getting this error. Delete the `.then` on line 40 of `StandProvider.js` and you should be good to go.

[2021-03-23 18:08] jisie commented on #206
@SLLittrell I see your route in ApplicationViews and I don't see anything wrong with it. When you click on the link and the URL changes, are you getting any errors or just a blank screen?

[2021-03-23 18:12] Loganwebb1994 commented on #202
@Scott47 I can check in and out now, but it doesnt show the name of the person checking in now

[2021-03-23 18:14] SLLittrell commented on #206
@jisie No Errors or warnings. It stays on the page with the link, and from what I can tell from some console logs it does a re-render of that page.

[2021-03-23 18:14] Scott47 commented on #202
@Loganwebb1994 I do not think these issues are related. Could be wrong, but spend some time with it and let us know what you find.

[2021-03-23 18:24] emilycentko commented on #205
@jisie thank you, that's good to know! I tried that initially, just one DELETE fetch call from WatchListProvider. It would still give me the error that the id interpolated in my fetch call is undefined when I click the button that calls handleDelete. I've refactored it again to have the one delete function, tried leaving parameters empty, storing it in a parameter, and setting the initial state fo

[2021-03-23 18:25] Loganwebb1994 commented on #202
@Scott47 I added a use effect to the card component to get the users and its showing the occupant again.

[2021-03-23 18:25] #202 closed, assigned to nobody

[2021-03-23 18:25] nathanRomad opened #207 "follow/unfollow feature"
#### Name: Nathan
#### Breakout Room: Nathan

#### REQUIRED Question or issue:

I want to render a button on the card that says follow and changes to unfollow based on conditions.
I don't have a complete example and wanted a few minutes of guidance to start me in the right direction.

#### REQUIRED Check all that apply:
- [ ] Rubber Ducking
- [X] Direction/Guidance
- [ ] Check In (Pep talk, vent s

[2021-03-23 18:30] SLLittrell commented on #206
**Resolved**
-Added id params to the plant data useEffect dependency array, so when the link is clicked the component knows to re-render.

[2021-03-23 18:30] #206 closed, assigned to nobody

[2021-03-23 18:30] jisie commented on #205
@emilycentko The onClick on your button needs to be given a function expression, not a function call. But you still need to pass in the id of the watch list to be deleted:

[code]

[2021-03-23 18:31] Thomas88s opened #208 "useEffect and filtering objects"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name:Thomas Witherow
#### Breakout Room:
Thomas
#### Have you searched the other issue tickets? If not, do that first.
- [x ] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping y

[2021-03-23 18:48] Loganwebb1994 opened #209 "How do I access my standId from my StandNoteForm?"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Logan
#### Breakout Room: Mine

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping you from mov

[2021-03-23 18:56] nicoletatum opened #210 "[QUICK ISSUE]"
#### Name: nicole tatum
#### Breakout Room: nicole

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [X] Rubber Ducking
- [X] Direction/Guidance
- [X] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-23 19:00] emilycentko commented on #205
@jisie thank you, that worked! Is it because I need to pass a parameter to the function that it needs to be a function expression (instead of a call)?

[2021-03-23 19:02] #203 closed, assigned to nobody

[2021-03-23 19:05] bpotts11 commented on #203
I was trying to call params in the wrong component. I also was using useEffects which I did not need.

After talking to Sage, I found out that params come from the URL, so I had to create a dynamic route that included the id that I needed. Once that happened I was able to get the needed id in a different component using useParams. I was making it WAY more complicated then it needs to be.

[2021-03-23 19:06] peytonkemp opened #211 "[QUICK ISSUE] filtering"
#### Name:  Peyton
#### Breakout Room:  Peyton

#### REQUIRED Question or issue:

#### REQUIRED Check all that apply:
- [x] Rubber Ducking
- [x] Direction/Guidance
- [x] Check In (Pep talk, vent session, etc.)

#### Code Snippet

[code]

[2021-03-23 19:08] jisie commented on #205
@emilycentko It always needs to be a function expression. Remember, this is like an event handler in JS. You never call the function yourself. You just give it the function to be called when the click happens. I had you write the function in line with the JSX because that way you can access the watch list id that you have in your callback function for the .map.

[2021-03-23 19:11] morriscodez opened #212 "Cannot access id of undefined"
**_Ticket MUST be completed before getting help from an instructor_**
#### Name: Dylan
#### Breakout Room: Dylan's Dojo

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

####  REQUIRED Add Tags to Issue Ticket and Assign to Project Board

- [x] Added to `c46 Help-Thread` project board
- [x] Added the `Blocker` label if this is stoping you